@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400");
@import url("https://fonts.googleapis.com/css?family=Prompt:100,300,400");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,
input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: normal; }

textarea {
  resize: none;
  outline: none; }

html, body {
  height: 100%;
  font-family: '微軟正黑體', 'Microsoft JhengHei', Verdana, sans-serif; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div {
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both; }

input, select {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

video::-webkit-media-controls-fullscreen-button {
  display: none; }

video::-moz-media-controls-fullscreen-button {
  display: none; }

ul, li {
  list-style: none; }

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none; }

@media only screen and (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px; } }

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05); }

::-moz-scrollbar {
  width: 6px; }

::-moz-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1); }

::-moz-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2); }

::-moz-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); }

::-moz-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05); }

h1, h2, h3 {
  font-family: inherit;
  line-height: 48px;
  vertical-align: middle;
  color: inherit; }

h4, h5, h6 {
  font-family: inherit;
  line-height: 24px;
  vertical-align: middle;
  color: inherit; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

b, strong {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px; }

i, em {
  font-size: 14px;
  line-height: 24px; }

small {
  font-size: 12px;
  line-height: 24px; }

br {
  display: block; }

.ta_right {
  text-align: right !important; }

.ta_left {
  text-align: left !important; }

.ta_center {
  text-align: center !important; }

.table_right {
  text-align: right; }

.table_left {
  text-align: left; }

.table_center {
  text-align: center; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes enterMask {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes enterMask {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes enterMask {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes enterMask {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.fade {
  opacity: 0;
  -webkit-animation-delay: .5s;
  animation-delay: 1s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.79, 0.1, 0.49, 1.43);
  animation-timing-function: cubic-bezier(0.79, 0.1, 0.49, 1.43);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.navMain {
  width: 100%;
  height: 78px;
  padding: 22px 20px 18px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .navMain_bg {
    background: #EAE7E6;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .navMain .logo {
    display: block;
    width: calc(154px / 2);
    height: 38px;
    float: left; }
    .navMain .logo img {
      max-width: 100%; }

.navBottom {
  position: fixed;
  z-index: 999;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  background: url(../images/bg-ep_naturalwhite.png) repeat;
  text-align: center;
  -webkit-transition: bottom 0.3s cubic-bezier(0.91, 0.17, 0.51, 0.82);
  -moz-transition: bottom 0.3s cubic-bezier(0.91, 0.17, 0.51, 0.82);
  -o-transition: bottom 0.3s cubic-bezier(0.91, 0.17, 0.51, 0.82);
  transition: bottom 0.3s cubic-bezier(0.91, 0.17, 0.51, 0.82); }
  .navBottom_show {
    bottom: 0;
    -webkit-transition: bottom 0.3s cubic-bezier(0.91, 0.17, 0.51, 0.82);
    -moz-transition: bottom 0.3s cubic-bezier(0.91, 0.17, 0.51, 0.82);
    -o-transition: bottom 0.3s cubic-bezier(0.91, 0.17, 0.51, 0.82);
    transition: bottom 0.3s cubic-bezier(0.91, 0.17, 0.51, 0.82); }
  .navBottom .navBottomInner {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    /* 1 */
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-overflow-scrolling: touch;
    /* 2 */ }
    .navBottom .navBottomInner::-webkit-scrollbar {
      display: none; }
  .navBottom a {
    color: #2e2e2e;
    display: inline-block;
    padding: 14px 20px;
    font-size: 18px;
    line-height: 32px; 
    text-decoration: none;}
    @media only screen and (max-width: 700px) {
      .navBottom a {
        font-size: 16px;
        line-height: 21px;
        padding: 20px 6px; } }
    .navBottom a.arrive, .navBottom a:hover {
      color: #059E90; }

.hamber {
  position: fixed;
  z-index: 9999;
  top: 27px;
  right: 20px;
  cursor: pointer; }
  .hamber .name, .hamber .shape {
    float: left; }
  .hamber .name {
    color: #000;
    font-size: 16px;
    line-height: 24px; }
    @media only screen and (max-width: 425px) {
      .hamber .name {
        display: none; } }
  .hamber .shape {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 10px; }
    .hamber .shape span {
      background: #000;
      height: 2px;
      display: block;
      position: absolute;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .hamber .shape .-top {
      width: 85%;
      top: 2px; }
    .hamber .shape .-middle {
      width: 100%;
      top: 50%;
      margin-top: -1px; }
    .hamber .shape .-bottom {
      width: 60%;
      bottom: 2px; }
  .hamber:hover .-top {
    width: 60%; }
  .hamber:hover .-middle {
    width: 100%; }
  .hamber:hover .-bottom {
    width: 85%; }

.hamber_onclick .name {
  display: none; }
.hamber_onclick .shape .-top, .hamber_onclick .shape .-bottom {
  width: 0; }
.hamber_onclick .shape .-middle {
  width: 17px;
  left: 1.5px;
  position: relative;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
  .hamber_onclick .shape .-middle:before {
    content: '';
    width: 17px;
    height: 2px;
    background: #000;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.hide-overlay .navOverlay {
  right: -100%; }

.navOverlay {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9995;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .navOverlay .navContent {
    height: 100%;
    width: 100%;
    max-width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;
    display: block;
    background: #EAE7E6;
    text-align: center; }
    @media only screen and (max-width: 425px) {
      .navOverlay .navContent {
        max-width: 100%; } }
    .navOverlay .navContent .title {
      color: #2e2e2e;
      font-size: 24px;
      line-height: 36px;
      padding: 30px 0; }
    .navOverlay .navContent ul {
      padding: 0 20px; }
      .navOverlay .navContent ul li {
        text-align: left;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 15px 10px 0; }
        .navOverlay .navContent ul li a {
          color: #2e2e2e;
          display: block;
          font-size: 16px;
          line-height: 24px;
          font-family: 'Poppins', sans-serif, '微軟正黑體', 'Microsoft JhengHei'; 
          text-decoration: none;}
        .navOverlay .navContent ul li:before, .navOverlay .navContent ul li:after {
          content: '';
          right: 0;
          width: 7px;
          height: 2px;
          position: absolute;
          background: #2e2e2e; }
        .navOverlay .navContent ul li:before {
          top: 50%;
          margin-top: -3px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .navOverlay .navContent ul li:after {
          bottom: 50%;
          margin-bottom: -3px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .navOverlay .navContent ul li.arrive:before, .navOverlay .navContent ul li.arrive:after, .navOverlay .navContent ul li:hover:before, .navOverlay .navContent ul li:hover:after {
          background: #059E90; }
        .navOverlay .navContent ul li.arrive a, .navOverlay .navContent ul li:hover a {
          color: #059E90; }
          .navOverlay .navContent ul li.arrive a{
            cursor: default;
          }

.freezing {
  height: 100%;
  overflow: auto; }

.kv {
  padding: 0 14px 0;
  width: 100%;
  height: 620px;
  position: relative;
  background: url(../images/bg-kv.png) repeat; }
  .kv .kvPic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/kvMain.png);
    background-position: center;
    -moz-background-size: cover;
    /*for Firefox*/
    -webkit-background-size: cover;
    /*for Google Chrome、Safari*/
    -o-background-size: cover;
    /*for Opera*/
    background-size: cover;
    /*for IE*/ }
  .kv .kvMain {
    padding: 50px;
    text-align: center;
    max-width: 480px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(239, 234, 225, 0.8); }
    @media only screen and (max-width: 510px) {
      .kv .kvMain {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        padding: 40px 20px; } }
    .kv .kvMain img {
      display: inline-block; }
    .kv .kvMain .kv_Logo {
      max-width: 380px; }
      .kv .kvMain .kv_Logo img {
        width: 100%; }
    .kv .kvMain .kv_dot {
      font-size: 36px;
      line-height: 54px;
      margin: 20px auto; }
      .kv .kvMain .kv_dot img {
        width: 6px;
        height: 10px;
        margin: 0 10px; }
    .kv .kvMain .dash {
      display: block;
      width: 60px;
      height: 2px;
      background: #2e2e2e;
      margin: 0 auto; }
    .kv .kvMain .kv_titleS {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 18px;
      text-indent: 18px;
      margin-top: 20px; }
      @media only screen and (max-width: 510px) {
        .kv .kvMain .kv_titleS {
          margin-right: -18px;
          margin-left: -11px; } }
    .kv .kvMain p {
      color: #2e2e2e; }
  .kv .down {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 30px;
    height: 20px;
    bottom: 30px; }
    .kv .down img {
      max-width: 100%; }

.themeAll {
  text-align: center;
  padding: 50px 22px 0;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 700px) {
    .themeAll {
      padding: 30px 14px 0; } }
  .themeAll .theme_name {
    color: #2e2e2e;
    font-size: 48px;
    line-height: 74px;
    font-weight: bold;
    margin-bottom: 10px; }
    @media only screen and (max-width: 700px) {
      .themeAll .theme_name {
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 20px; } }
  .themeAll .theme_nameS {
    color: #2e2e2e;
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    margin-bottom: 20px; }
    @media only screen and (max-width: 700px) {
      .themeAll .theme_nameS {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px; } }
  .themeAll .theme_titleS {
    color: #2e2e2e;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 700px) {
      .themeAll .theme_titleS {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px; } }
  .themeAll .theme_description {
    color: #2e2e2e;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 700px) {
      .themeAll .theme_description {
        font-size: 18px;
        line-height: 27px; } }
  .themeAll .theme_place {
    color: #2e2e2e;
    clear: both;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 10px; }
    @media only screen and (max-width: 700px) {
      .themeAll .theme_place {
        font-size: 18px;
        line-height: 27px; } }
  .themeAll .theme_travel {
    max-width: 940px;
    margin: 0 auto 50px auto;
    clear: both;
    overflow: hidden; }
    @media only screen and (max-width: 700px) {
      .themeAll .theme_travel {
        margin: 0 auto 30px auto; } }
    .themeAll .theme_travel p {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 20px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
      border-radius: 22px;
      float: left;
      margin-bottom: 10px; }
      @media only screen and (max-width: 700px) {
        .themeAll .theme_travel p {
          font-size: 14px;
          line-height: 20px; } }
      .themeAll .theme_travel p.p_brown {
        background: #bdaca5; }
      .themeAll .theme_travel p.p_img {
        padding: 14px 10px; }
        @media only screen and (max-width: 700px) {
          .themeAll .theme_travel p.p_img {
            padding: 12px 10px; } }
        .themeAll .theme_travel p.p_img img {
          width: 16px;
          height: 16px;
          display: block; }
    .themeAll .theme_travel a {
      background: #2e2e2e;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 20px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
      border-radius: 22px;
      float: left;
      margin-bottom: 10px; 
      text-decoration: none;}
      @media only screen and (max-width: 700px) {
        .themeAll .theme_travel a {
          font-size: 14px;
          line-height: 20px; } }
  .themeAll .theme_vedio {
    padding: 20px;
    background: #fff;
    max-width: 940px;
    margin: 20px auto 50px auto; }
    @media only screen and (max-width: 700px) {
      .themeAll .theme_vedio {
        padding: 14px;
        margin: 0 auto 30px auto; } }
    .themeAll .theme_vedio .youtube {
      position: relative;
      padding-bottom: 56.11%;
      padding-top: 30px;
      height: 0;
      overflow: hidden; }
      .themeAll .theme_vedio .youtube iframe, .themeAll .theme_vedio .youtube object, .themeAll .theme_vedio .youtube embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .themeAll .theme_Slider, .themeAll .theme_Slider_Only {
    max-width: 940px;
    margin: 0 auto 50px auto;
    position: relative; }
    @media only screen and (max-width: 700px) {
      .themeAll .theme_Slider, .themeAll .theme_Slider_Only {
        margin: 0 auto 52px auto; } }
    .themeAll .theme_Slider .store, .themeAll .theme_Slider_Only .store {
      width: 32%;
      position: absolute;
      top: 45%;
      z-index: 2; }
      @media only screen and (max-width: 768px) {
        .themeAll .theme_Slider .store, .themeAll .theme_Slider_Only .store {
          top: 40%; } }
      @media only screen and (max-width: 700px) {
        .themeAll .theme_Slider .store, .themeAll .theme_Slider_Only .store {
          width: 100%;
          position: relative;
          top: 0;
          background: #fff;
          padding-bottom: 40px; } }
      .themeAll .theme_Slider .store .dash, .themeAll .theme_Slider_Only .store .dash {
        width: 60px;
        height: 2px;
        background: #2e2e2e;
        display: block;
        margin: 0 auto 30px auto; }
        @media only screen and (max-width: 768px) {
          .themeAll .theme_Slider .store .dash, .themeAll .theme_Slider_Only .store .dash {
            margin: 0 auto 20px auto; } }
      .themeAll .theme_Slider .store a, .themeAll .theme_Slider_Only .store a {
        display: block;
        text-align: center;
        margin: 0 auto; }
        .themeAll .theme_Slider .store a img, .themeAll .theme_Slider_Only .store a img {
          width: 48px;
          border: 1px #ddd solid;
          -webkit-background-clip: padding-box;
          -moz-background-clip: padding;
          background-clip: padding-box;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-bottom: 10px;
          display: inline-block; }
        .themeAll .theme_Slider .store a span, .themeAll .theme_Slider_Only .store a span {
          color: #000;
          font-size: 16px;
          line-height: 24px;
          display: block; }
    .themeAll .theme_Slider .owl-carouselL, .themeAll .theme_Slider_Only .owl-carouselL {
      width: 74.4%;
      background: #fff;
      padding: 20px; }
      @media only screen and (max-width: 700px) {
        .themeAll .theme_Slider .owl-carouselL, .themeAll .theme_Slider_Only .owl-carouselL {
          width: 100%;
          padding: 14px; } }
      .themeAll .theme_Slider .owl-carouselL img, .themeAll .theme_Slider_Only .owl-carouselL img {
        max-width: 100%; }
    .themeAll .theme_Slider .owl-carouselS, .themeAll .theme_Slider_Only .owl-carouselS {
      width: 32%;
      height: 288px;
      position: absolute;
      top: 48%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      z-index: 1;
      text-align: center;
      padding: 30px 20px;
      background: #fff; }
      @media only screen and (max-width: 768px) {
        .themeAll .theme_Slider .owl-carouselS, .themeAll .theme_Slider_Only .owl-carouselS {
          width: 32%;
          height: 246px;
          padding: 20px; } }
      @media only screen and (max-width: 700px) {
        .themeAll .theme_Slider .owl-carouselS, .themeAll .theme_Slider_Only .owl-carouselS {
          width: 100%;
          height: auto;
          position: relative;
          top: 0;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          padding: 14px; } }
      .themeAll .theme_Slider .owl-carouselS a, .themeAll .theme_Slider_Only .owl-carouselS a {
        color: #000;
        font-size: 24px;
        line-height: 36px;
        height: 72px;
        position: relative;
        display: block; }
        @media only screen and (max-width: 768px) {
          .themeAll .theme_Slider .owl-carouselS a, .themeAll .theme_Slider_Only .owl-carouselS a {
            font-size: 20px;
            line-height: 30px;
            height: 60px; } }
        .themeAll .theme_Slider .owl-carouselS a span, .themeAll .theme_Slider_Only .owl-carouselS a span {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
    .themeAll .theme_Slider .owl-carouselS_noLink, .themeAll .theme_Slider_Only .owl-carouselS_noLink {
      width: 32%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      z-index: 1;
      text-align: center;
      padding: 30px 20px;
      background: #fff;
      color: #000;
      display: block; }
      @media only screen and (max-width: 700px) {
        .themeAll .theme_Slider .owl-carouselS_noLink, .themeAll .theme_Slider_Only .owl-carouselS_noLink {
          width: 100%;
          position: relative;
          top: 0;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          padding: 14px 14px 40px 14px;
          box-sizing: border-box; } }
      .themeAll .theme_Slider .owl-carouselS_noLink .title, .themeAll .theme_Slider_Only .owl-carouselS_noLink .title {
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 16px;
        line-height: 24px;
        height: 48px; }
        @media only screen and (max-width: 768px) {
          .themeAll .theme_Slider .owl-carouselS_noLink .title, .themeAll .theme_Slider_Only .owl-carouselS_noLink .title {
            font-size: 14px;
            line-height: 21px;
            height: 42px; } }
        @media only screen and (max-width: 700px) {
          .themeAll .theme_Slider .owl-carouselS_noLink .title, .themeAll .theme_Slider_Only .owl-carouselS_noLink .title {
            font-size: 18px;
            line-height: 27px;
            height: 54px; } }
      .themeAll .theme_Slider .owl-carouselS_noLink .dash, .themeAll .theme_Slider_Only .owl-carouselS_noLink .dash {
        width: 60px;
        height: 2px;
        background: #2e2e2e;
        display: block;
        margin: 30px auto; }
        @media only screen and (max-width: 768px) {
          .themeAll .theme_Slider .owl-carouselS_noLink .dash, .themeAll .theme_Slider_Only .owl-carouselS_noLink .dash {
            margin: 20px auto; } }
      .themeAll .theme_Slider .owl-carouselS_noLink img, .themeAll .theme_Slider_Only .owl-carouselS_noLink img {
        width: 48px;
        border: 1px #ddd solid;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 10px;
        display: inline-block; }
      .themeAll .theme_Slider .owl-carouselS_noLink p, .themeAll .theme_Slider_Only .owl-carouselS_noLink p {
        color: #000;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold; }
      .themeAll .theme_Slider .owl-carouselS_noLink span, .themeAll .theme_Slider_Only .owl-carouselS_noLink span {
        font-size: 14px;
        line-height: 24px;
        display: block;
        margin-top: 10px; }
        @media only screen and (max-width: 768px) {
          .themeAll .theme_Slider .owl-carouselS_noLink span, .themeAll .theme_Slider_Only .owl-carouselS_noLink span {
            font-size: 12px;
            line-height: 18px; } }
        @media only screen and (max-width: 700px) {
          .themeAll .theme_Slider .owl-carouselS_noLink span, .themeAll .theme_Slider_Only .owl-carouselS_noLink span {
            font-size: 14px;
            line-height: 24px; } }
      .themeAll .theme_Slider .owl-carouselS_noLink a, .themeAll .theme_Slider_Only .owl-carouselS_noLink a {
        color: #000; }
    .themeAll .theme_Slider .owl-carousel .owl-controls, .themeAll .theme_Slider_Only .owl-carousel .owl-controls {
      display: none; }
    .themeAll .theme_Slider .buttonAll, .themeAll .theme_Slider_Only .buttonAll {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 44px;
      bottom: -64px;
      right: 0;
      text-align: center; }
      @media only screen and (max-width: 700px) {
        .themeAll .theme_Slider .buttonAll, .themeAll .theme_Slider_Only .buttonAll {
          bottom: -22px; } }
    .themeAll .theme_Slider .prev, .themeAll .theme_Slider .next, .themeAll .theme_Slider_Only .prev, .themeAll .theme_Slider_Only .next {
      width: 44px;
      height: 44px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      cursor: pointer;
      background: #2e2e2e;
      position: relative;
      display: inline-block; }
      .themeAll .theme_Slider .prev:before, .themeAll .theme_Slider .prev:after, .themeAll .theme_Slider .next:before, .themeAll .theme_Slider .next:after, .themeAll .theme_Slider_Only .prev:before, .themeAll .theme_Slider_Only .prev:after, .themeAll .theme_Slider_Only .next:before, .themeAll .theme_Slider_Only .next:after {
        content: '';
        width: 10px;
        height: 2px;
        position: absolute;
        background: #fff; }
    .themeAll .theme_Slider .prev:before, .themeAll .theme_Slider .prev:after, .themeAll .theme_Slider_Only .prev:before, .themeAll .theme_Slider_Only .prev:after {
      left: 50%;
      margin-left: -6px; }
    .themeAll .theme_Slider .prev:before, .themeAll .theme_Slider_Only .prev:before {
      top: 50%;
      margin-top: -4px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .themeAll .theme_Slider .prev:after, .themeAll .theme_Slider_Only .prev:after {
      bottom: 50%;
      margin-bottom: -4px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .themeAll .theme_Slider .next:before, .themeAll .theme_Slider .next:after, .themeAll .theme_Slider_Only .next:before, .themeAll .theme_Slider_Only .next:after {
      right: 50%;
      margin-right: -6px; }
    .themeAll .theme_Slider .next:before, .themeAll .theme_Slider_Only .next:before {
      top: 50%;
      margin-top: -4px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .themeAll .theme_Slider .next:after, .themeAll .theme_Slider_Only .next:after {
      bottom: 50%;
      margin-bottom: -4px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .themeAll .theme_Slider .jumpA-get, .themeAll .theme_Slider .jumpB-get, .themeAll .theme_Slider .jumpC-get, .themeAll .theme_Slider .jumpD-get, .themeAll .theme_Slider .jumpE-get, .themeAll .theme_Slider .jumpF-get, .themeAll .theme_Slider .jumpG-get, .themeAll .theme_Slider_Only .jumpA-get, .themeAll .theme_Slider_Only .jumpB-get, .themeAll .theme_Slider_Only .jumpC-get, .themeAll .theme_Slider_Only .jumpD-get, .themeAll .theme_Slider_Only .jumpE-get, .themeAll .theme_Slider_Only .jumpF-get, .themeAll .theme_Slider_Only .jumpG-get {
      position: absolute;
      top: -78px; }

.theme_Slider_Odd .store {
  right: 0; }
.theme_Slider_Odd .owl-carouselS, .theme_Slider_Odd .owl-carouselS_noLink {
  right: 0; }

.theme_Slider_Even .store {
  left: 0; }
.theme_Slider_Even .owl-carouselL {
  margin-left: 25.6%; }
  @media only screen and (max-width: 700px) {
    .theme_Slider_Even .owl-carouselL {
      margin-left: 0; } }
.theme_Slider_Even .owl-carouselS, .theme_Slider_Even .owl-carouselS_noLink {
  left: 0; }
.theme_Slider_Even .buttonAll {
  left: 0; }

.themeA {
  background: #EAE7E6; }

.themeShare {
  text-align: center;
  padding: 25px 0;
  overflow: visible; }
  .themeShare .shareShow {
    color: #2e2e2e;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px; }
  .themeShare .shareArea .div_tagEach {
    margin: 0 5px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 15px;
    letter-spacing: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .themeShare .shareArea .div_tagEach:last-child {
      margin: 0; }
  .themeShare .shareArea .btn_fb {
    color: #55739e;
    border: 1px solid #55739e; }
    .themeShare .shareArea .btn_fb:hover {
      color: #fff;
      background: #55739e; }
  .themeShare .shareArea .btn_line {
    color: #73a97f;
    border: 1px solid #73a97f; }
    .themeShare .shareArea .btn_line:hover {
      color: #fff;
      background: #73a97f; }
  .themeShare .shareArea .btn_weibo {
    color: #e04060;
    border: 1px solid #e04060; }
    .themeShare .shareArea .btn_weibo:hover {
      color: #fff;
      background: #e04060; }

.theme_Odd {
  background: url(../images/bg-ep_naturalwhite.png); }

.theme_Even {
  background: url(../images/bg-ricepaper.png); }

.theme_Last {
  background: url(../images/bg-footprint.png); }

.navbtnATop, .navbtnBTop, .navbtnCTop, .navbtnDTop, .navbtnETop, .navbtnFTop, .navbtnGTop {
  position: absolute;
  top: -65px; }


.t-relation__btn:hover {
  background-color: #059e90;
}

footer {
  width: 100%;
  background: #ddd6d3;
  text-align: center;
  padding: 20px 0 80px 0; }
  footer p {
    font-size: 14px;
    line-height: 21px; }

/*# sourceMappingURL=huadong.css.map */
