@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700");
.c-showall .store-identify .identify-arrow .arrow-line1, .c-showall .store-identify .identify-arrow .arrow-line2, .c-result-back .arrow-line1, .c-result-back .arrow-line2 {
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 1px;
}

.c-detail-list-store .store-goods__pic, .c-detail-list-store .store-plus-goods__pic, .c-recipient-list-store .store-goods__pic, .c-recipient-list-store .store-goods-plus__pic, .c-showall .store-goods__pic, .c-showall .store-goods-plus__pic {
  width: 120px;
  height: 120px;
  overflow: hidden;
  float: left;
}

.c-detail-list-store .store-goods__pic img, .c-detail-list-store .store-plus-goods__pic img, .c-recipient-list-store .store-goods__pic img, .c-recipient-list-store .store-goods-plus__pic img, .c-showall .store-goods__pic img, .c-showall .store-goods-plus__pic img {
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.c-detail-list-store .store-goods__pic img, .c-detail-list-store .store-plus-goods__pic img, .c-recipient-list-store .store-goods__pic img, .c-recipient-list-store .store-goods-plus__pic img, .c-showall .store-goods__pic img, .c-showall .store-goods-plus__pic img {
  width: 200%;
}

@media only screen and (max-width: 620px) {
  .c-detail-list-store .store-goods__pic, .c-detail-list-store .store-plus-goods__pic, .c-recipient-list-store .store-goods__pic, .c-recipient-list-store .store-goods-plus__pic, .c-showall .store-goods__pic, .c-showall .store-goods-plus__pic {
    width: 90px;
    height: 90px;
  }
}

.c-detail-list-store .store-goods-select, .c-detail-list-store .store-plus-goods-select {
  float: left;
  line-height: 38px;
}

.c-detail-list-store .store-goods-select span, .c-detail-list-store .store-plus-goods-select span {
  width: 100%;
  height: 36px;
  line-height: 38px;
  color: #666;
}

.c-detail-list-store .store-goods-select ul, .c-detail-list-store .store-plus-goods-select ul {
  position: absolute;
  max-height: 150px;
  overflow-y: auto;
  top: 35px;
}

.c-detail-list-store .store-goods-select ul li, .c-detail-list-store .store-plus-goods-select ul li {
  height: 35px;
  padding: 0px 10px;
  box-sizing: border-box;
  line-height: 35px;
}

@media only screen and (max-width: 620px) {
  .c-detail-list-store .store-goods-select, .c-detail-list-store .store-plus-goods-select {
    float: none;
    width: 100%;
  }
}

.c-detail-list-store .store-goods-count, .c-detail-list-store .store-plus-goods-count {
  float: left;
  margin-right: 10px;
}

.c-detail-list-store .store-goods-count input, .c-detail-list-store .store-plus-goods-count input {
  height: 36px;
  font-size: 15px;
}

.c-detail-list-store .store-goods-count input:focus, .c-detail-list-store .store-plus-goods-count input:focus {
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.c-detail-list-store .store-goods-count input:focus ~ span, .c-detail-list-store .store-plus-goods-count input:focus ~ span {
  color: #f7b500;
}

.c-detail-list-store .store-goods-count span, .c-detail-list-store .store-plus-goods-count span {
  line-height: 38px;
  width: 36px;
  height: 36px;
  position: absolute;
}

.c-detail-list-store .store-goods-count .count-up, .c-detail-list-store .store-plus-goods-count .count-up {
  right: 36px;
}

.c-detail-list-store .store-goods-count .count-down, .c-detail-list-store .store-plus-goods-count .count-down {
  right: 0px;
}

@media only screen and (max-width: 620px) {
  .c-detail-list-store .store-goods-count, .c-detail-list-store .store-plus-goods-count {
    float: none;
    margin-right: 0px;
  }
}

.c-detail-list-store .store-goods__price, .c-detail-list-store .store-goods__subtotal, .c-detail-list-store .store-plus-goods__price, .c-detail-list-store .store-plus-goods__subtotal {
  padding-top: 10px;
  font-size: 14px;
  float: left;
}

.c-detail-list-store .store-goods__price span, .c-detail-list-store .store-goods__subtotal span, .c-detail-list-store .store-plus-goods__price span, .c-detail-list-store .store-plus-goods__subtotal span {
  display: block;
}

@media only screen and (max-width: 620px) {
  .c-detail-list-store .store-goods__price, .c-detail-list-store .store-goods__subtotal, .c-detail-list-store .store-plus-goods__price, .c-detail-list-store .store-plus-goods__subtotal {
    float: none;
    width: 100%;
  }
}

.c-header {
  padding: 20px 0;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.c-header-process li {
  display: inline-block;
  margin: 0 -12px;
}

.c-header-process .processing {
  font-size: 14px;
  color: #bbb;
  text-align: center;
  font-weight: 100;
}

.c-header-process .processing__circle {
  position: relative;
  z-index: 2;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  background-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 20px;
}

.c-header-process .processing__text {
  margin-top: 10px;
  color: #bbb;
}

.c-header-process .processing.is--now .processing__circle {
  background-color: #fff;
  border-color: #f7b500;
}

.c-header-process .processing.is--now .processing__text {
  color: #f7b500;
  font-weight: 600;
}

.c-header-process .processing.is--down .processing__circle {
  background: url("/assets/img/checkout-done.svg") -1px 50% no-repeat;
  border-color: #f7b500;
}

.c-header-process .processing.is--down .processing__text {
  color: #f7b500;
}

.c-header-process .processing.is--fail .processing__circle {
  background: url("/assets/img/checkout-fail.svg") -1px 50% no-repeat;
  border-color: #ff3244;
}

.c-header-process .processing.is--fail .processing__text {
  color: #ff3244;
}

.c-header-process .processingline {
  position: relative;
  z-index: 1;
  width: 56px;
  height: 34px;
  border-top: 1px solid #ddd;
}

.c-header-process .processingline.is--go {
  border-color: #f7b500;
}

.c-detail, .c-recipient, .c-pay, .c-confirm, .c-showall, .c-recipientPage {
  background-color: #f8f8f8;
}

.c-detail h3, .c-recipient h3, .c-pay h3, .c-confirm h3, .c-showall h3, .c-recipientPage h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.c-detail-wrap, .c-recipient-wrap, .c-pay-wrap, .c-confirm-wrap, .c-showall-wrap, .c-recipientPage-wrap {
  width: 620px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .c-detail-wrap, .c-recipient-wrap, .c-pay-wrap, .c-confirm-wrap, .c-showall-wrap, .c-recipientPage-wrap {
    max-width: 600px;
  }
}

.c-detail .store-brand, .c-detail .store-coupon, .c-detail .store-msg, .c-detail .store-way, .c-detail .store-remark, .c-recipient .store-brand, .c-recipient .store-coupon, .c-recipient .store-msg, .c-recipient .store-way, .c-recipient .store-remark, .c-pay .store-brand, .c-pay .store-coupon, .c-pay .store-msg, .c-pay .store-way, .c-pay .store-remark, .c-confirm .store-brand, .c-confirm .store-coupon, .c-confirm .store-msg, .c-confirm .store-way, .c-confirm .store-remark, .c-showall .store-brand, .c-showall .store-coupon, .c-showall .store-msg, .c-showall .store-way, .c-showall .store-remark, .c-recipientPage .store-brand, .c-recipientPage .store-coupon, .c-recipientPage .store-msg, .c-recipientPage .store-way, .c-recipientPage .store-remark {
  padding: 20px 20px;
  box-sizing: border-box;
}

.c-detail .store-brand, .c-recipient .store-brand, .c-pay .store-brand, .c-confirm .store-brand, .c-showall .store-brand, .c-recipientPage .store-brand {
  border-bottom: 2px solid #f8f8f8;
}

.c-detail .store-brand img, .c-recipient .store-brand img, .c-pay .store-brand img, .c-confirm .store-brand img, .c-showall .store-brand img, .c-recipientPage .store-brand img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-right: 6px;
}

.c-detail .store-brand span, .c-recipient .store-brand span, .c-pay .store-brand span, .c-confirm .store-brand span, .c-showall .store-brand span, .c-recipientPage .store-brand span {
  font-size: 14px;
  font-weight: 700;
}

.c-detail .store-brand__num, .c-recipient .store-brand__num, .c-pay .store-brand__num, .c-confirm .store-brand__num, .c-showall .store-brand__num, .c-recipientPage .store-brand__num {
  float: right;
  line-height: 50px;
  font-size: 14px;
  color: #666;
}

.c-detail .store-brand__ask, .c-recipient .store-brand__ask, .c-pay .store-brand__ask, .c-confirm .store-brand__ask, .c-showall .store-brand__ask, .c-recipientPage .store-brand__ask {
  float: right;
  margin-top: 7px;
  width: 101px;
  height: 44px;
  font-size: 14px;
}

.c-detail .store-brand__ask a, .c-recipient .store-brand__ask a, .c-pay .store-brand__ask a, .c-confirm .store-brand__ask a, .c-showall .store-brand__ask a, .c-recipientPage .store-brand__ask a {
  padding: 12px 8px;
  box-sizing: border-box;
  padding-left: 35px;
  width: 101px;
  height: 44px;
  display: block;
  color: #f7b500;
  background: url("/assets/img/mem-ask-y.svg") 10px 14px no-repeat;
}

.c-detail .store-brand__ask:hover a, .c-recipient .store-brand__ask:hover a, .c-pay .store-brand__ask:hover a, .c-confirm .store-brand__ask:hover a, .c-showall .store-brand__ask:hover a, .c-recipientPage .store-brand__ask:hover a {
  background: url("/assets/img/mem-ask-h.svg") 10px 14px no-repeat;
  width: 101px;
  height: 44px;
  display: block;
  color: #ffc429;
}

.c-detail .store-brand__ask:active a, .c-recipient .store-brand__ask:active a, .c-pay .store-brand__ask:active a, .c-confirm .store-brand__ask:active a, .c-showall .store-brand__ask:active a, .c-recipientPage .store-brand__ask:active a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f7b500 url("/assets/img/mem-ask-w.svg") 10px 14px no-repeat;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .c-detail .store-brand__ask:hover a, .c-recipient .store-brand__ask:hover a, .c-pay .store-brand__ask:hover a, .c-confirm .store-brand__ask:hover a, .c-showall .store-brand__ask:hover a, .c-recipientPage .store-brand__ask:hover a {
    background: url("/assets/img/mem-ask-y.svg") 10px 14px no-repeat;
    color: #f7b500;
  }
}

.c-detail .store-goods__status, .c-recipient .store-goods__status, .c-pay .store-goods__status, .c-confirm .store-goods__status, .c-showall .store-goods__status, .c-recipientPage .store-goods__status {
  padding: 1px 4px;
  box-sizing: border-box;
  padding-bottom: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  display: table;
  margin-bottom: 10px;
  color: #fff;
}

.c-detail .store-goods__status.preorder, .c-recipient .store-goods__status.preorder, .c-pay .store-goods__status.preorder, .c-confirm .store-goods__status.preorder, .c-showall .store-goods__status.preorder, .c-recipientPage .store-goods__status.preorder {
  background-color: #ff3244;
}

.c-detail .store-goods__status.order, .c-recipient .store-goods__status.order, .c-pay .store-goods__status.order, .c-confirm .store-goods__status.order, .c-showall .store-goods__status.order, .c-recipientPage .store-goods__status.order {
  background-color: #f7b500;
}

.c-detail .store-msg, .c-recipient .store-msg, .c-pay .store-msg, .c-confirm .store-msg, .c-showall .store-msg, .c-recipientPage .store-msg {
  background-color: #fff4e2;
  font-size: 14px;
}

@media only screen and (max-width: 620px) {
  .c-detail, .c-recipient, .c-pay, .c-confirm, .c-showall, .c-recipientPage {
    padding: 30px 0;
  }
  .c-detail h3, .c-recipient h3, .c-pay h3, .c-confirm h3, .c-showall h3, .c-recipientPage h3 {
    margin-bottom: 20px;
  }
  .c-detail-wrap, .c-recipient-wrap, .c-pay-wrap, .c-confirm-wrap, .c-showall-wrap, .c-recipientPage-wrap {
    width: 100%;
  }
  .c-detail .store-brand, .c-detail .store-coupon, .c-detail .store-msg, .c-detail .store-way, .c-detail .store-remark, .c-recipient .store-brand, .c-recipient .store-coupon, .c-recipient .store-msg, .c-recipient .store-way, .c-recipient .store-remark, .c-pay .store-brand, .c-pay .store-coupon, .c-pay .store-msg, .c-pay .store-way, .c-pay .store-remark, .c-confirm .store-brand, .c-confirm .store-coupon, .c-confirm .store-msg, .c-confirm .store-way, .c-confirm .store-remark, .c-showall .store-brand, .c-showall .store-coupon, .c-showall .store-msg, .c-showall .store-way, .c-showall .store-remark, .c-recipientPage .store-brand, .c-recipientPage .store-coupon, .c-recipientPage .store-msg, .c-recipientPage .store-way, .c-recipientPage .store-remark {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.c-detail-list-store {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
}

.c-detail-list-store .store-goods-box {
  padding: 20px 20px;
  box-sizing: border-box;
  border-top: 10px solid #f8f8f8;
}

.c-detail-list-store .store-goods-box:first-of-type {
  border-top: 0;
}

.c-detail-list-store .store-goods__name {
  line-height: 1.43;
  font-weight: 600;
  float: left;
  font-size: 14px;
  width: calc(100% - 38px);
}

.c-detail-list-store .store-goods__name a {
  color: #2e2e2e;
}

.c-detail-list-store .store-goods__delete {
  font-size: 14px;
  color: #bbb;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.c-detail-list-store .store-goods__delete a {
  color: #bbb;
}

.c-detail-list-store .store-goods__delete:hover {
  color: #ff3244;
}

.c-detail-list-store .store-goods-select {
  width: 220px;
}

.c-detail-list-store .store-goods__select {
  font-size: 15px;
}

.c-detail-list-store .store-goods-count input {
  width: 220px;
}

.c-detail-list-store .store-goods__price {
  width: 220px;
  color: #666;
  margin-right: 10px;
}

.c-detail-list-store .store-goods__subtotal {
  width: 220px;
  color: #2e2e2e;
  font-weight: 700;
}

.c-detail-list-store .store-plus {
  padding: 0 20px 20px;
}

.c-detail-list-store .store-plus-wrap {
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.c-detail-list-store .store-plus__title {
  text-align: center;
  font-size: 14px;
  background-color: #fff4e2;
  padding: 3px 4px 1px;
  display: table;
  margin-bottom: 10px;
}

.c-detail-list-store .store-plus-goods {
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
}

.c-detail-list-store .store-plus-goods:first-of-type {
  padding-top: 0;
}

.c-detail-list-store .store-plus-goods:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.c-detail-list-store .store-plus-goods__name {
  float: left;
  line-height: 1.43;
  font-size: 14px;
  width: calc(100% - 38px);
}

.c-detail-list-store .store-plus-goods__name a {
  color: #2e2e2e;
}

.c-detail-list-store .store-plus-goods__delete {
  font-size: 14px;
  color: #bbb;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.c-detail-list-store .store-plus-goods__delete a {
  color: #bbb;
}

.c-detail-list-store .store-plus-goods__delete:hover {
  color: #ff3244;
}

.c-detail-list-store .store-plus-goods-select {
  width: 200px;
}

.c-detail-list-store .store-plus-goods__select {
  font-size: 15px;
}

.c-detail-list-store .store-plus-goods-count input {
  width: 200px;
}

.c-detail-list-store .store-plus-goods-count::after {
  clear: both;
}

.c-detail-list-store .store-plus-goods__price {
  color: #666;
  width: 200px;
  margin-right: 10px;
}

.c-detail-list-store .store-plus-goods__subtotal {
  width: 200px;
  color: #2e2e2e;
  font-weight: 700;
}

.c-detail-list-store .store-coupon {
  position: relative;
  border-top: 2px solid #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
  cursor: pointer;
}

.c-detail-list-store .store-coupon-title {
  position: relative;
  font-weight: 600;
  width: 100%;
}

.c-detail-list-store .store-coupon-use {
  margin-top: 20px;
  color: #ff3244;
  font-size: 14px;
}

.c-detail-list-store .store-coupon-use__delete {
  float: right;
  font-size: 14px;
  color: #bbb;
  cursor: pointer;
}

.c-detail-list-store .store-coupon-use__delete:hover {
  color: #2e2e2e;
}

.c-detail-list-store .store-slide {
  padding: 20px 0px;
  box-sizing: border-box;
}

.c-detail-list-store .store-slide__title {
  color: #666;
  padding-left: 20px;
}

.c-detail-list-store .store-slide #scrolling {
  width: 100%;
  overflow: hidden;
}

.c-detail-list-store .store-slide ul {
  margin-top: 10px;
}

.c-detail-list-store .store-slide ul:after {
  clear: both;
  content: "";
  display: table;
}

.c-detail-list-store .store-slide ul li {
  float: left;
  cursor: pointer;
  width: 214px;
  height: 122px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ff3244;
  background-color: #fff;
  color: #666;
  box-sizing: border-box;
  margin-right: 20px;
}

.c-detail-list-store .store-slide ul li:first-child {
  margin-left: 20px;
}

.c-detail-list-store .store-slide ul li .coupon-left {
  position: relative;
  padding: 14px 14px;
  box-sizing: border-box;
  width: 154px;
  height: 122px;
  float: left;
  border-right: 1px dashed #ff3244;
}

.c-detail-list-store .store-slide ul li .coupon-right {
  position: relative;
  padding: 52px 12px;
  box-sizing: border-box;
  width: 58px;
  height: 122px;
  text-align: center;
  font-size: 14px;
  float: right;
}

.c-detail-list-store .store-slide ul li .coupon__price {
  color: #ff3244;
}

.c-detail-list-store .store-slide ul li .coupon__price span {
  font-size: 30px;
}

.c-detail-list-store .store-slide ul li .coupon__notice {
  font-size: 13px;
}

.c-detail-list-store .store-slide ul li.is--coupon {
  background-color: #ff3244;
}

.c-detail-list-store .store-slide ul li.is--coupon .coupon__price, .c-detail-list-store .store-slide ul li.is--coupon .coupon__notice {
  color: #fff;
}

.c-detail-list-store .store-slide ul li.is--coupon .coupon-left {
  border-right: 1px dashed #fff;
}

.c-detail-list-store .store-slide ul li.is--coupon .coupon__use {
  display: none;
}

.c-detail-list-store .store-slide ul li.is--coupon .coupon__tick {
  width: 24px;
  height: 24px;
}

.c-detail-list .pos-up, .c-detail-list .pos-down, .c-detail-list .pos-right {
  position: relative;
}

.c-detail-list .pos-up:after, .c-detail-list .pos-down:after, .c-detail-list .pos-right:after {
  clear: both;
  content: "";
  display: table;
}

.c-detail-list .pos-down {
  margin-top: 10px;
}

.c-detail-list .pos-right {
  padding-top: 10px;
  margin-left: 10px;
  float: left;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .c-detail-list-store .store-goods-select, .c-detail-list-store .store-goods__price, .c-detail-list-store .store-goods__subtotal, .c-detail-list-store .store-goods-count input {
    width: 210px;
  }
  .c-detail-list-store .store-plus-goods-select, .c-detail-list-store .store-plus-goods__price, .c-detail-list-store .store-plus-goods__subtotal, .c-detail-list-store .store-plus-goods-count input {
    width: 190px;
  }
}

@media only screen and (max-width: 620px) {
  .c-detail-list-store .store-goods .pos-right {
    padding-top: 0;
  }
  .c-detail-list-store .store-goods-box {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .c-detail-list-store .store-goods-select {
    margin-top: 10px;
  }
  .c-detail-list-store .store-goods-select, .c-detail-list-store .store-goods__price, .c-detail-list-store .store-goods__subtotal, .c-detail-list-store .store-goods-count input {
    width: 100%;
  }
  .c-detail-list-store .store-goods-count {
    margin-top: 4px;
  }
  .c-detail-list-store .store-goods__price span, .c-detail-list-store .store-goods__subtotal span {
    display: inline-block;
    float: right;
  }
  .c-detail-list-store .store-goods__price {
    padding-top: 14px;
  }
  .c-detail-list-store .store-goods__subtotal {
    float: none;
  }
  .c-detail-list-store .store-plus {
    padding: 0 14px 14px;
  }
  .c-detail-list-store .store-plus-wrap {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .c-detail-list-store .store-plus-goods {
    padding: 14px 0px;
  }
  .c-detail-list-store .store-plus-goods-select, .c-detail-list-store .store-plus-goods__price, .c-detail-list-store .store-plus-goods__subtotal, .c-detail-list-store .store-plus-goods-count input {
    width: 100%;
  }
  .c-detail-list-store .store-plus-goods__select {
    margin-top: 10px;
  }
  .c-detail-list-store .store-plus-goods-count {
    margin-top: 4px;
  }
  .c-detail-list-store .store-plus-goods__price span, .c-detail-list-store .store-plus-goods__subtotal span {
    display: inline-block;
    float: right;
  }
  .c-detail-list-store .store-plus-goods__price {
    padding-top: 14px;
  }
  .c-detail-list-store .store-plus-goods__subtotal {
    float: none;
  }
  .c-detail-list-store .store-coupon-use {
    margin-top: 14px;
  }
  .c-detail-list-store .store-slide {
    padding: 14px 0px;
    box-sizing: border-box;
  }
  .c-detail-list-store .store-slide__title {
    padding-left: 14px;
  }
  .c-detail-list-store .store-slide ul li {
    margin-right: 14px;
  }
  .c-detail-list-store .store-slide ul li:first-child {
    margin-left: 14px;
  }
  .c-detail-list .pos-right {
    padding-top: 5px;
    width: calc(100% - 100px);
  }
  .c-detail-list .pos-down-down {
    margin-left: -100px;
  }
}

.c-recipient-basic {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px 20px;
  box-sizing: border-box;
}

.c-recipient-basic li {
  margin-bottom: 10px;
}

.c-recipient-basic li:last-child {
  margin-bottom: 0;
}

.c-recipient-basic input {
  width: 100%;
}

.c-recipient-basic .basic__ps {
  color: #999999;
  font-weight: normal;
  margin-top: 5px;
}

.c-recipient-list {
  margin-bottom: 20px;
}

.c-recipient-list:last-child {
  margin-bottom: 0;
}

.c-recipient-list-store {
  background-color: #fff;
}

.c-recipient-list-store .store-goods {
  position: relative;
  padding: 20px 20px;
  box-sizing: border-box;
}

.c-recipient-list-store .store-goods-box:after {
  clear: both;
  content: "";
  display: table;
}

.c-recipient-list-store .store-goods__pic {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.c-recipient-list-store .store-goods-plus {
  margin-top: 20px;
  position: relative;
  background-color: #f8f8f8;
  padding: 20px 20px;
  box-sizing: border-box;
}

.c-recipient-list-store .store-goods-plus__pic {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.c-recipient-list-store .store-goods-plus:after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (max-width: 620px) {
  .c-recipient-list-store .store-goods {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .c-recipient-list-store .store-goods-plus {
    margin-top: 14px;
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.c-recipient-list-store .store-way {
  position: relative;
  border-top: 2px solid #f8f8f8;
}

.c-recipient-list-store .store-way a {
  color: #2e2e2e;
}

.c-recipient-list-store .store-way.is--alert {
  border: 1px solid #e74c3c;
  box-sizing: border-box;
}

.c-recipient-list-store .store-way.is--alert .store-way-use-change {
  color: #e74c3c;
}

.c-recipient-list-store .store-way-title {
  position: relative;
  font-weight: 600;
  width: 100%;
}

.c-recipient-list-store .store-way-title a {
  color: #2e2e2e;
}

.c-recipient-list-store .store-way-use {
  font-size: 14px;
}

.c-recipient-list-store .store-way-use-way {
  margin-top: 20px;
  color: #f7b500;
  position: relative;
  width: 100%;
}

.c-recipient-list-store .store-way-use-way li {
  display: inline-block;
}

.c-recipient-list-store .store-way-use-way .wayfee {
  float: right;
}

.c-recipient-list-store .store-way-use-change {
  margin-top: 10px;
  color: #666;
}

.c-recipient-list-store .store-way-use-info {
  color: #666;
}

.c-recipient-list-store .store-way-use-info li {
  margin-top: 5px;
}

.c-recipient-list-store .store-remark {
  padding-bottom: 14px;
  border-top: 2px solid #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
}

.c-recipient-list-store .store-remark input {
  padding: 0;
  width: 100%;
  border: 0;
}

.c-recipientPage {
  padding: 0px 0 30px;
}

.c-recipientPage-wrap {
  background-color: #fff;
}

@media only screen and (max-width: 414px) {
  .c-recipientPage {
    margin-bottom: 30px;
  }
}

.recipientPage {
  background-color: #fff;
}

.recipientPage__title {
  color: #2e2e2e;
  text-align: center;
  padding: 20px 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #f8f8f8;
  font-weight: bold;
}

@media only screen and (max-width: 620px) {
  .recipientPage__title {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.recipientPage-fillin__title {
  color: #2e2e2e;
  padding: 20px 20px;
  box-sizing: border-box;
  padding-bottom: 13px;
}

.recipientPage-fillin__check {
  padding: 20px 20px;
  box-sizing: border-box;
  padding-top: 0;
  height: 30px;
  position: relative;
}

.recipientPage-fillin__check input[type=checkbox].fillin__check {
  border: 0;
  display: none;
}

.recipientPage-fillin__check input[type=checkbox].fillin__check + label.fillin__label {
  width: 100%;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.recipientPage-fillin__check input[type=checkbox].fillin__check:checked + label.fillin__label {
  background-position: 0 -30px;
}

.recipientPage-fillin__check label.fillin__label {
  float: left;
  background-image: url("/assets/img/checkbox.png");
  background-size: 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.recipientPage-fillin__check span.fillin__span {
  position: absolute;
  left: 56px;
  height: 30px;
  color: #666;
  line-height: 32px;
  pointer-events: none;
}

.recipientPage-fillin-way ul {
  padding: 20px 20px;
  box-sizing: border-box;
  padding-top: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.recipientPage-fillin-way li {
  margin-bottom: 10px;
}

.recipientPage-fillin-way li:last-child {
  margin-bottom: 0;
}

.recipientPage-fillin-way li .fillin__ps {
  color: #bbb;
  font-weight: normal;
  margin-top: 5px;
  font-size: 14px;
}

.recipientPage-fillin-way input {
  width: 100%;
}

.recipientPage-fillin-way .receive-nowchoose {
  display: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 20px;
  box-sizing: border-box;
  color: #666;
}

.recipientPage-fillin-way .receive-nowchoose a {
  color: #666;
}

.recipientPage-fillin-way .receive-nowchoose .now__address {
  margin-top: 5px;
}

.recipientPage-fillin-way .receive-btn {
  padding: 20px 20px;
  box-sizing: border-box;
}

.recipientPage-fillin-way .receive-btn__btn {
  margin-top: 0px;
  padding: 0px 10px;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #2e2e2e;
  margin-bottom: 10px;
}

.recipientPage-fillin-way .receive-btn__btn:hover {
  color: #fff;
  background-color: #4a4a4a;
}

.recipientPage-fillin-way .receive-btn__btn.often {
  border: 1px solid #2e2e2e;
  background-color: #fff;
  color: #2e2e2e;
  height: 44px;
}

.recipientPage-fillin-way .receive-btn__btn.often:hover {
  color: #fff;
  background-color: #4a4a4a;
}

.recipientPage-fillin-way .receive-btn__btn:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 620px) {
  .recipientPage-fillin__title {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .recipientPage-fillin__check {
    padding: 14px 14px;
    box-sizing: border-box;
    padding-top: 0;
  }
  .recipientPage-fillin-way ul {
    padding: 14px 14px;
    box-sizing: border-box;
    padding-top: 10px;
  }
  .recipientPage-fillin-way .receive-btn {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.recipientPage-slide #scrolling {
  width: 100%;
  overflow: hidden;
}

.recipientPage-slide ul {
  padding: 20px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #f8f8f8;
}

.recipientPage-slide ul:after {
  clear: both;
  content: "";
  display: table;
}

.recipientPage-slide ul li {
  float: left;
  position: relative;
  cursor: pointer;
  width: 214px;
  height: 122px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 14px 14px;
  box-sizing: border-box;
  border: 1px  solid #ddd;
  background-color: #fff;
  color: #999;
  margin-right: 20px;
}

.recipientPage-slide ul li:first-child {
  margin-left: 20px;
}

.recipientPage-slide ul li.is--way {
  border: 1px solid #f7b500;
  color: #f7b500;
}

.recipientPage-slide ul li .way__name {
  height: 42px;
}

.recipientPage-slide ul li .way-fee {
  position: absolute;
  right: 14px;
  margin-top: 5px;
}

.recipientPage-slide ul li .way-fee__a {
  text-decoration: line-through;
  margin-right: 4px;
}

.recipientPage-slide ul li .way-fee__b {
  font-size: 30px;
}

@media only screen and (max-width: 620px) {
  .recipientPage-slide__title {
    margin-left: 14px;
  }
  .recipientPage-slide ul {
    padding: 14px 0;
    box-sizing: border-box;
  }
  .recipientPage-slide ul li {
    margin-right: 14px;
  }
  .recipientPage-slide ul li:first-child {
    margin-left: 14px;
  }
}

.oftenUseAddress {
  display: none;
  width: 620px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -310px;
  z-index: 12;
}

.oftenUseAddress-wrap {
  position: relative;
  background-color: #fff;
}

.oftenUseAddress__title {
  font-size: 18px;
  color: #929292;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
}

.oftenUseAddress-list {
  padding: 0 20px;
  box-sizing: border-box;
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}

.oftenUseAddress-list li {
  padding: 20px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  color: #666;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.oftenUseAddress-list li:last-child {
  border-bottom: 0;
}

.oftenUseAddress-list li .infoshop {
  color: #2e2e2e;
  margin-bottom: 10px;
  font-size: 16px;
}

.oftenUseAddress-list li .infotick {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  background: transparent url("/assets/img/v-y.svg") 50% 50% no-repeat;
}

.oftenUseAddress-btns {
  padding: 20px 15px;
  box-sizing: border-box;
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
  width: 100%;
}

.oftenUseAddress-btns > div {
  float: left;
  margin: 0 5px;
  width: 285px;
  height: auto;
  padding: 14px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.oftenUseAddress-btns__confirm {
  background-color: #f7b500;
}

.oftenUseAddress-btns__confirm:hover {
  background-color: #ffc429;
}

.oftenUseAddress-btns__cancel {
  background-color: #4a4a4a;
}

.oftenUseAddress-btns__cancel:hover {
  background-color: #2e2e2e;
}

.oftenUseAddress-btns:after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (max-width: 620px) {
  .oftenUseAddress {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
  }
  .oftenUseAddress-wrap {
    margin-top: 0%;
  }
  .oftenUseAddress__title {
    padding: 14px 0;
  }
  .oftenUseAddress-list {
    max-height: calc(100vh - 137px);
    padding: 0 14px;
    box-sizing: border-box;
  }
  .oftenUseAddress-list li {
    padding: 14px 0px;
    box-sizing: border-box;
  }
  .oftenUseAddress-btns {
    padding: 14px 8px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
  }
  .oftenUseAddress-btns > div {
    width: calc(50% - 10px);
  }
}

@media only screen and (max-width: 360px) {
  .oftenUseAddress-list {
    max-height: 490px;
  }
}

@media only screen and (max-width: 320px) {
  .oftenUseAddress-list {
    max-height: 420px;
  }
}

.c-rDock {
  width: 100%;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 0;
}

.c-rDock-btns li {
  padding: 14px 0;
  float: left;
  width: 50%;
  font-weight: 600;
}

.c-rDock-btns__submit {
  color: #fff;
  background-color: #f7b500;
}

.c-rDock-btns__submit a {
  width: 100%;
  height: auto;
  display: block;
  color: #fff;
}

.c-rDock-btns__cancel {
  background-color: #fff;
  color: #2e2e2e;
}

.c-rDock-btns__cancel a {
  width: 100%;
  height: auto;
  display: block;
  color: #2e2e2e;
}

.c-rDock.is--scrollBottom {
  position: relative;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
  box-shadow: 0 0px 0px 0 transparent;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.c-rDock.is--scrollBottom:after {
  content: " ";
  display: block;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .c-rDock.is--scrollBottom {
    max-width: 600px;
  }
}

@media only screen and (max-width: 620px) {
  .c-rDock.is--scrollBottom {
    margin-bottom: 0;
  }
}

.c-pay-code, .c-pay-way, .c-pay-receipt {
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: #fff;
}

@media only screen and (max-width: 620px) {
  .c-pay-code, .c-pay-way, .c-pay-receipt {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.c-pay-code input {
  width: 100%;
}

.c-pay-way ul.c-pay-way-select {
  text-align: center;
}

.c-pay-way ul.c-pay-way-select > li {
  margin-right: 6px;
  margin-bottom: 10px;
  display: inline-block;
  width: calc(50% - 6px);
}

.c-pay-way ul.c-pay-way-select > li:nth-child(2n) {
  margin-right: 0;
}

.c-pay-way ul.c-pay-way-select > li:nth-child(5), .c-pay-way ul.c-pay-way-select > li:nth-child(6) {
  margin-bottom: 0;
}

.c-pay-way ul.c-pay-way-select:after {
  clear: both;
  content: "";
  display: table;
}

.c-pay-installments, .c-pay-installments2 {
  border-top: 2px solid #f8f8f8;
  background-color: #fff;
  padding: 20px 0px;
  box-sizing: border-box;
}

.c-pay-installments__title, .c-pay-installments2__title {
  margin-left: 20px;
}

.c-pay-installments #scrolling-install, .c-pay-installments #scrolling-install2, .c-pay-installments2 #scrolling-install, .c-pay-installments2 #scrolling-install2 {
  width: 100%;
  overflow: hidden;
}

.c-pay-installments ul, .c-pay-installments2 ul {
  margin-top: 10px;
}

.c-pay-installments ul:after, .c-pay-installments2 ul:after {
  clear: both;
  content: "";
  display: table;
}

.c-pay-installments ul li, .c-pay-installments2 ul li {
  float: left;
  position: relative;
  cursor: pointer;
  width: 214px;
  height: 122px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 14px 14px;
  box-sizing: border-box;
  border: 1px  solid #ddd;
  background-color: #fff;
  color: #999;
  margin-right: 20px;
}

.c-pay-installments ul li:first-child, .c-pay-installments2 ul li:first-child {
  margin-left: 20px;
}

.c-pay-installments ul li.is--install, .c-pay-installments2 ul li.is--install {
  border: 1px solid #f7b500;
  color: #f7b500;
}

.c-pay-installments ul li .installments__fee, .c-pay-installments2 ul li .installments__fee {
  position: absolute;
  right: 14px;
  bottom: 10px;
}

.c-pay-installments ul li .installments__fee span, .c-pay-installments2 ul li .installments__fee span {
  font-size: 30px;
}

@media only screen and (max-width: 620px) {
  .c-pay-installments, .c-pay-installments2 {
    padding: 14px 0px;
    box-sizing: border-box;
  }
  .c-pay-installments__title, .c-pay-installments2__title {
    margin-left: 14px;
  }
  .c-pay-installments ul li, .c-pay-installments2 ul li {
    margin-right: 14px;
  }
  .c-pay-installments ul li:first-child, .c-pay-installments2 ul li:first-child {
    margin-left: 14px;
  }
}

.c-pay-receipt {
  margin-bottom: 0;
}

.c-pay-receipt ul li {
  width: 100%;
  margin-bottom: 10px;
}

.c-pay-receipt ul li:last-child {
  margin-bottom: 0;
}

.c-pay-receiptinfo {
  border-top: 2px solid #f8f8f8;
  background-color: #fff;
}

.c-pay-receiptinfo-donate__title, .c-pay-receiptinfo-two__title, .c-pay-receiptinfo-three__title {
  color: #2e2e2e;
}

.c-pay-receiptinfo-donate {
  padding: 20px 0px;
  box-sizing: border-box;
}

.c-pay-receiptinfo-donate__title {
  margin-left: 20px;
}

.c-pay-receiptinfo-donate #scrolling-donate {
  width: 100%;
  overflow: hidden;
}

.c-pay-receiptinfo-donate ul.donate-slide {
  margin-top: 10px;
}

.c-pay-receiptinfo-donate ul.donate-slide:after {
  clear: both;
  content: "";
  display: table;
}

.c-pay-receiptinfo-donate ul.donate-slide li {
  float: left;
  position: relative;
  cursor: pointer;
  width: 214px;
  height: 145px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 14px 14px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #fff;
  line-height: 1.33;
  margin-right: 20px;
  color: #999;
}

.c-pay-receiptinfo-donate ul.donate-slide li:first-child {
  margin-left: 20px;
}

.c-pay-receiptinfo-donate ul.donate-slide li.is--donate {
  border: 1px solid #f7b500;
  color: #f7b500;
}

.c-pay-receiptinfo-donate ul.donate-slide li .orangization__org {
  height: 42px;
}

.c-pay-receiptinfo-donate ul.donate-slide li .orangization__code {
  position: absolute;
  bottom: 10px;
}

@media only screen and (max-width: 620px) {
  .c-pay-receiptinfo-donate ul.donate-slide li {
    margin-right: 14px;
  }
  .c-pay-receiptinfo-donate ul.donate-slide li:first-child {
    margin-left: 14px;
  }
}

.c-pay-receiptinfo-two, .c-pay-receiptinfo-three {
  padding: 20px 20px;
  box-sizing: border-box;
}

.c-pay-receiptinfo-two ul, .c-pay-receiptinfo-three ul {
  margin-top: 10px;
}

.c-pay-receiptinfo-two ul li, .c-pay-receiptinfo-three ul li {
  margin-bottom: 10px;
}

.c-pay-receiptinfo-two ul li input, .c-pay-receiptinfo-three ul li input {
  width: 100%;
}

.c-pay-receiptinfo-two ol, .c-pay-receiptinfo-three ol {
  color: #bbb;
  list-style: decimal;
  margin-left: 20px;
}

.c-pay-receiptinfo-two ol li, .c-pay-receiptinfo-three ol li {
  margin-bottom: 5px;
  padding-left: 5px;
}

.c-pay-receiptinfo-two ol li:last-child, .c-pay-receiptinfo-three ol li:last-child {
  margin-bottom: 0;
}

.c-pay .label__style {
  width: 100%;
  height: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 11px 0;
  box-sizing: border-box;
  padding-bottom: 9px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  color: #666;
  display: block;
  cursor: pointer;
}

.c-pay .input__style {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.c-pay .input__style:checked + .label__style {
  background: #f7b500;
  color: #fff;
  border: 1px solid #f7b500;
}

.c-confirm-total-price {
  padding: 14px 0 12px;
  text-align: center;
  color: #ffffff;
  background-color: #f7b500;
}

.c-confirm-total-price h5 {
  font-size: 14px;
}

.c-confirm-total-price__all {
  margin-top: 10px;
  font-size: 24px;
}

.c-confirm-total-price__all span {
  font-size: 45px;
}

.c-confirm-list {
  background-color: #fff;
}

.c-confirm-list li {
  padding: 20px 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #f8f8f8;
  position: relative;
}

.c-confirm-list li h5 {
  font-weight: 600;
  margin-bottom: 10px;
}

.c-confirm-list li span {
  color: #666;
  margin-top: 5px;
  display: block;
}

.c-confirm-list li .discount__nt {
  position: absolute;
  right: 20px;
  top: 20px;
  margin-top: 0;
}

@media only screen and (max-width: 620px) {
  .c-confirm-list li {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .c-confirm-list li .discount__nt {
    right: 14px;
    top: 14px;
  }
}

.c-showall {
  padding-top: 0;
}

.c-showall-store {
  background-color: #fff;
  margin-bottom: 10px;
}

.c-showall .store-coupon, .c-showall .store-discount, .c-showall .store-use, .c-showall .store-remark, .c-showall .store-subtotal, .c-showall .store-comment, .c-showall .store-identify {
  padding: 20px 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #f8f8f8;
  font-size: 14px;
  position: relative;
}

@media only screen and (max-width: 620px) {
  .c-showall .store-coupon, .c-showall .store-discount, .c-showall .store-use, .c-showall .store-remark, .c-showall .store-subtotal, .c-showall .store-comment, .c-showall .store-identify {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.c-showall .store-goods {
  border-bottom: 2px solid #f8f8f8;
  position: relative;
  padding: 20px 20px;
  box-sizing: border-box;
}

.c-showall .store-goods-box {
  font-size: 14px;
}

.c-showall .store-goods-box:after {
  clear: both;
  content: "";
  display: table;
}

.c-showall .store-goods__pic {
  width: 70px;
  height: 70px;
}

.c-showall .store-goods__name {
  padding-top: 5px;
  color: #2e2e2e;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  font-weight: 600;
}

.c-showall .store-goods__select, .c-showall .store-goods__price {
  color: #bbb;
}

.c-showall .store-goods .pos-right {
  float: right;
  margin-left: 10px;
  width: calc(100% - 80px);
}

.c-showall .store-goods-plus {
  margin-top: 20px;
  position: relative;
  background-color: #f8f8f8;
  padding: 20px 20px;
  box-sizing: border-box;
}

.c-showall .store-goods-plus-box {
  font-size: 14px;
  margin-bottom: 10px;
}

.c-showall .store-goods-plus-box:after {
  clear: both;
  content: "";
  display: table;
}

.c-showall .store-goods-plus-box:last-child {
  margin-bottom: 0;
}

.c-showall .store-goods-plus__title {
  text-align: center;
  font-size: 14px;
  background-color: #fff4e2;
  padding: 3px 4px 1px;
  display: table;
  margin-bottom: 10px;
}

.c-showall .store-goods-plus__pic {
  width: 60px;
  height: 60px;
}

.c-showall .store-goods-plus__name {
  color: #2e2e2e;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  font-weight: 600;
}

.c-showall .store-goods-plus__select, .c-showall .store-goods-plus__price {
  color: #bbb;
}

.c-showall .store-goods-plus .pos-right {
  width: calc(100% - 70px);
}

.c-showall .store-goods__shipment {
  float: right;
  margin-top: -20px;
}

.c-showall .store-goods .status--prepare, .c-showall .store-goods .status--get {
  color: #2e2e2e;
}

.c-showall .store-goods .status--ship, .c-showall .store-goods .status--arrive {
  color: #2ecc71;
}

.c-showall .store-goods .status--apply, .c-showall .store-goods .status--return {
  color: #e74c3c;
}

.c-showall .store-goods .status--return {
  text-decoration: underline;
}

.c-showall .store-goods .status--return a {
  color: #e74c3c;
  text-decoration: underline;
}

.c-showall .store-goods .status--returned {
  color: #bdc3c7;
}

.c-showall .store-coupon {
  color: #ff3244;
}

.c-showall .store-use-way {
  font-weight: 600;
  color: #2e2e2e;
  position: relative;
  width: 100%;
}

.c-showall .store-use-way li {
  display: inline-block;
}

.c-showall .store-use-way .wayfee {
  float: right;
  font-weight: bold;
}

.c-showall .store-use-way:after {
  clear: both;
  content: "";
  display: table;
}

.c-showall .store-use-info {
  color: #666;
  margin-top: 5px;
}

.c-showall .store-use-info li {
  margin-top: 5px;
}

.c-showall .store-discount {
  color: #2e2e2e;
  font-weight: bold;
  position: relative;
}

.c-showall .store-discount-price {
  color: #ff3244;
  position: absolute;
  right: 20px;
  top: 20px;
}

.c-showall .store-remark__title {
  color: #2e2e2e;
  font-weight: bold;
}

.c-showall .store-remark__ps {
  margin-top: 10px;
  color: #666;
}

.c-showall .store-subtotal {
  font-weight: bold;
  position: relative;
}

.c-showall .store-subtotal-price {
  position: absolute;
  right: 20px;
  top: 20px;
}

.c-showall .store-identify {
  font-weight: 600;
}

.c-showall .store-identify .identify-arrow {
  position: absolute;
  right: 40px;
  top: 20px;
}

.c-showall .store-identify .identify-arrow .arrow-line1, .c-showall .store-identify .identify-arrow .arrow-line2 {
  background-color: #2e2e2e;
  margin-top: 9px;
  margin-left: 6px;
  -webkit-transform: translateY(0px) rotate(36deg);
  -ms-transform: translateY(0px) rotate(36deg);
  transform: translateY(0px) rotate(36deg);
}

@media only screen and (max-width: 414px) {
  .c-showall .store-identify .identify-arrow .arrow-line1, .c-showall .store-identify .identify-arrow .arrow-line2 {
    margin-top: 8px;
  }
}

.c-showall .store-identify .identify-arrow .arrow-line2 {
  -webkit-transform: translateY(5px) rotate(-36deg);
  -ms-transform: translateY(5px) rotate(-36deg);
  transform: translateY(5px) rotate(-36deg);
}

.c-showall .store-comment__btn {
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f7b500;
  color: #f7b500;
  font-weight: 600;
  padding: 6px 0;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .c-showall .store-comment__btn:hover {
    color: #fff;
    background-color: #f7b500;
  }
}

@media only screen and (max-width: 620px) {
  .c-showall .store-discount-price, .c-showall .store-subtotal-price {
    right: 14px;
    top: 14px;
  }
  .c-showall .store-goods {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .c-showall .store-goods-plus {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .c-showall .store-identify .identify-arrow {
    top: 14px;
    right: 34px;
  }
}

.c-result {
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 100px;
  min-height: 640px;
}

@media only screen and (max-width: 414px) {
  .c-result {
    padding-top: 50px;
    min-height: 450px;
  }
}

.c-result h4 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  color: #2e2e2e;
}

.c-result h4.fail {
  color: #ff3244;
}

.c-result p {
  margin-top: 20px;
  color: #666;
}

.c-result p a {
  color: #f7b500;
}

.c-result p a:hover {
  color: #ffc429;
}

.c-result-back {
  margin-top: 30px;
  color: #f7b500;
}

.c-result-back span {
  margin-left: -10px;
}

.c-result-back .arrow-line1, .c-result-back .arrow-line2 {
  background-color: #f7b500;
  margin-top: 9px;
  margin-left: 6px;
  -webkit-transform: translateY(0px) rotate(36deg);
  -ms-transform: translateY(0px) rotate(36deg);
  transform: translateY(0px) rotate(36deg);
}

@media only screen and (max-width: 414px) {
  .c-result-back .arrow-line1, .c-result-back .arrow-line2 {
    margin-top: 8px;
  }
}

.c-result-back .arrow-line2 {
  -webkit-transform: translateY(5px) rotate(-36deg);
  -ms-transform: translateY(5px) rotate(-36deg);
  transform: translateY(5px) rotate(-36deg);
}

.c-result-back .arrow-line1, .c-result-back .arrow-line2 {
  margin-top: 18px;
}

.c-result-back a {
  color: #f7b500;
}

.c-result-back a:hover {
  color: #fff;
}

.c-result-back a:hover .arrow-line1, .c-result-back a:hover .arrow-line2 {
  background-color: #fff;
}

.c-footer {
  background-color: #f8f8f8;
  padding-bottom: 138px;
}

.c-footer.resultscreen {
  padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .c-footer.resultscreen {
    padding-bottom: 50px;
  }
}

.c-footer .footer-cy {
  background-color: transparent;
  font-size: 12px;
  color: #bbb;
  margin-top: 5px;
}

.c-dock {
  width: 100%;
  height: auto;
  border-top: 3px solid #f7b500;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  bottom: 0;
}

.c-dock.is--bottom {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.c-dock-wrap {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  box-sizing: border-box;
  text-align: center;
}

.c-dock-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.c-dock-group {
  display: inline-block;
  width: 80%;
}

.c-dock-group > div {
  display: inline-block;
  width: calc(25% - 4px);
  box-sizing: border-box;
  vertical-align: middle;
}

.c-dock-group > div span {
  display: block;
}

.c-dock__price, .c-dock__freight, .c-dock__discount {
  color: #666;
  padding-right: 20px;
  text-align: left;
  box-sizing: border-box;
}

.c-dock__discount span {
  color: #ff3244;
}

.c-dock__subtotal {
  color: #2e2e2e;
  font-weight: 600;
  padding-right: 20px;
  text-align: left;
}

.c-dock__nextbtn {
  display: inline-block;
  width: calc(20% - 8px);
  box-sizing: border-box;
  vertical-align: middle;
  height: 44px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #f7b500;
  line-height: 1.5;
}

.c-dock__nextbtn a {
  color: #fff;
  width: 100%;
  height: auto;
  display: block;
}

.c-dock__nextbtn:hover {
  background-color: #ffc429;
}

@media only screen and (max-width: 620px) {
  .c-dock {
    border-top: 0;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  }
  .c-dock-wrap {
    width: 100%;
    padding: 0;
  }
  .c-dock-group {
    display: block;
    width: 100%;
    padding: 13px 14px;
    box-sizing: border-box;
    padding-bottom: 11px;
  }
  .c-dock-group > div {
    height: auto;
    line-height: 1.29;
    width: calc(50% - 5px);
  }
  .c-dock-group > div span {
    display: inline;
    float: right;
    text-align: right;
  }
  .c-dock-group:after {
    clear: both;
    content: "";
    display: table;
  }
  .c-dock__price, .c-dock__freight, .c-dock__discount, .c-dock__subtotal {
    font-size: 14px;
    text-align: left;
    padding: 0;
  }
  .c-dock__price, .c-dock__discount {
    margin-bottom: 5px;
  }
  .c-dock__price, .c-dock__freight {
    float: left;
  }
  .c-dock__discount, .c-dock__subtotal {
    float: right;
  }
  .c-dock__nextbtn {
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 14px 0 11px;
    height: 49px;
  }
}

.c-finalbtn {
  width: 228px;
  height: 44px;
  background-color: #f7b500;
  -moz-border-radius: 44px;
  -webkit-border-radius: 44px;
  border-radius: 44px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -114px;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.c-finalbtn a {
  color: #ffffff;
  width: 228px;
  height: 44px;
  display: block;
}

.c-finalbtn:hover {
  background-color: #ffc429 !important;
}

.c-finalbtn:active {
  background-color: #f7b500 !important;
}

@media only screen and (max-width: 620px) {
  .c-finalbtn {
    width: 100%;
    height: 49px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    bottom: 0;
    left: 0;
    margin-left: 0;
    line-height: 49px;
  }
  .c-finalbtn a {
    color: #ffffff;
    width: 100%;
    height: 49px;
    display: block;
  }
}

.mt50 {
  margin-top: 50px;
}

@media only screen and (max-width: 620px) {
  .mt50 {
    margin-top: 30px;
  }
}

.count-style {
  position: relative;
}

.count-style input {
  background-color: transparent;
  display: inline-block;
  box-sizing: border-box;
  font-size: 15px;
}

.count-style input:focus {
  border: 1px solid #ddd;
}

.count-style input:focus ~ span {
  color: #f7b500;
}

.count-style span {
  position: absolute;
  cursor: default;
  top: 0px;
  display: block;
  text-align: center;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 21px;
}

.count-style span:active {
  color: #f7b500;
}

.count-style::after {
  clear: both;
}

.on-off span {
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  width: 12px;
  height: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
  background-color: #2e2e2e;
}

.on-off span:first-child {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.on-off.is--slideDown span:first-child {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.edit {
  position: absolute;
  right: 0px;
  top: 3px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url(/assets/img/edit.svg) 50% 50% no-repeat;
}

input[disabled] {
  background-color: #f8f8f8 !important;
  color: #bdc3c7 !important;
  border-color: #bdc3c7 !important;
}
