@charset "UTF-8";
.f-header {
  width: 100%;
  height: 505px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat; }
  .f-header__bgimg {
    width: 100%;
    height: 505px;
    background-size: cover;
    background-position: 50% 50%;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    z-index: -1;
    position: absolute; }
    .f-header__bgimg:before {
      display: block;
      content: '';
      width: 100%;
      height: 505px;
      background-color: rgba(46, 46, 46, 0.2);
      position: absolute;
      z-index: 1; }
  .f-header-focus {
    text-align: center;
    padding-top: 210px;
    position: relative; }
    .f-header-focus__pic {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      position: relative;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      position: relative;
      z-index: 5;
      overflow: hidden; }
      .f-header-focus__pic img {
        width: 100%;
        height: auto;
        position: relative; }
    .f-header-focus__name {
      margin-top: 20px;
      color: #fff;
      font-size: 30px; }
    .f-header-focus-icons {
      width: 100%;
      position: relative;
      margin-top: 20px;
      text-align: center; }
      .f-header-focus-icons div {
        width: 44px;
        height: 44px;
        display: inline-block;
        position: relative;
        background-size: 30px 30px; }
      .f-header-focus-icons .list__like {
        background-image: url("/assets/img/like-w.svg"); }
        .f-header-focus-icons .list__like.is--active {
          background-image: url("/assets/img/like--active.svg");
          background-size: 100% 100%; }
        .f-header-focus-icons .list__like.is--disabled {
          pointer-events: none;
          cursor: default;
          background-image: url("/assets/img/like--disabled.svg"); }
          .f-header-focus-icons .list__like.is--disabled:hover {
            background-image: url("/assets/img/like--disabled.svg"); }
      .f-header-focus-icons .list__share {
        background-image: url("/assets/img/share-w.svg"); }
        .f-header-focus-icons .list__share.is--active {
          background-image: url("/assets/img/share--active.svg");
          background-size: 100% 100%; }
    .f-header-focus-share {
      position: absolute;
      top: 446px;
      left: calc(50% + 22px);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 11;
      background-color: #fff;
      padding: 14px 0;
      -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); }
      .f-header-focus-share .share__title {
        display: none; }
      .f-header-focus-share .share-icons {
        padding: 0 14px 16px; }
        .f-header-focus-share .share-icons li {
          display: inline-block;
          margin-right: 10px;
          width: 44px;
          height: 44px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          cursor: pointer; }
          .f-header-focus-share .share-icons li:last-child {
            margin-right: 0 !important; }
        .f-header-focus-share .share-icons:after {
          clear: both;
          content: "";
          display: table; }
      .f-header-focus-share .share__triangle {
        position: absolute;
        top: -7px;
        right: calc(50% - 10px);
        overflow: hidden;
        width: 12px;
        height: 12px;
        background: #fff;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .f-header-focus-share .share-href {
        padding: 20px 14px 0;
        border-top: 1px solid #ddd; }
        .f-header-focus-share .share-href__copy {
          float: left;
          width: 44px;
          height: 44px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          border: 1px solid #ddd;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background: url("/assets/img/share-copy.svg") 50% 50% no-repeat; }
        .f-header-focus-share .share-href__input {
          width: calc(100% - 58px);
          font-size: 14px;
          float: right;
          height: 44px; }
        .f-header-focus-share .share-href:after {
          clear: both;
          content: "";
          display: table; }
      .f-header-focus-share .share__cancel {
        display: none; }
    @media only screen and (min-width: 769px) {
      .f-header-focus-icons .list__like:hover {
        background-image: url("/assets/img/like--hover.svg");
        background-size: 70% 70%; }
      .f-header-focus-icons .list__share:hover {
        background-image: url("/assets/img/share--active.svg");
        background-size: 100% 100%; } }
    @media only screen and (max-width: 414px) {
      .f-header-focus-share {
        max-width: 100%;
        width: 100%;
        left: 0;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        top: auto;
        position: fixed;
        bottom: 0;
        padding: 0 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .f-header-focus-share .share__title {
          display: block;
          text-align: center;
          font-size: 18px;
          width: 100%;
          padding: 15px 0;
          border-bottom: 1px solid #f2f2f2;
          color: #929292; }
        .f-header-focus-share .share-icons {
          padding: 20px 0px 14px;
          text-align: center; }
          .f-header-focus-share .share-icons li {
            float: left;
            margin-left: 14px;
            margin-right: 0; }
        .f-header-focus-share .share__triangle {
          display: none; }
        .f-header-focus-share .share-href {
          border-top: 1px solid #f2f2f2;
          padding: 0 14px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding-top: 20px; }
        .f-header-focus-share .share__cancel {
          display: block;
          width: 100%;
          padding: 20px 14px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding-bottom: 14px; }
          .f-header-focus-share .share__cancel span {
            display: block;
            padding: 15px 0;
            background-color: #4a4a4a;
            text-align: center;
            color: #fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px; } }

.f-coopBtn {
  position: absolute;
  z-index: 1;
  top: 450px;
  text-align: center;
  background-color: #5a11bd;
  color: #fff;
  left: 50%;
  margin-left: -57px; }
  .f-coopBtn a {
    color: #fff; }
  .f-coopBtn.is--docking {
    width: 220px;
    position: fixed;
    bottom: 10px;
    top: auto;
    z-index: 7;
    margin-left: -110px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .f-coopBtn.is--docking.is--bottom {
      bottom: 310px; }
    @media only screen and (max-width: 768px) {
      .f-coopBtn.is--docking.is--bottom {
        bottom: 110px; } }
    @media only screen and (max-width: 500px) {
      .f-coopBtn.is--docking {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-left: 0;
        left: 0;
        width: 100%;
        bottom: 0; }
        .f-coopBtn.is--docking.is--bottom {
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          border-radius: 50px;
          width: 220px;
          left: 50%;
          margin-left: -110px; } }

.f-title {
  font-size: 24px;
  font-weight: bold;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 20px; }
  @media only screen and (max-width: 414px) {
    .f-title {
      margin-bottom: 20px; } }

.f-about {
  background-color: #fff; }
  .f-about-wrap {
    width: 620px; }
  .f-about__pic img {
    width: 100%;
    display: block; }
  .f-about__text {
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.47;
    color: #666; }
  @media only screen and (max-width: 960px) {
    .f-about-wrap {
      max-width: 620px !important; } }
  @media only screen and (max-width: 768px) {
    .f-about {
      padding-bottom: 60px; }
      .f-about-wrap {
        width: 600px;
        padding: 0 14px !important; }
      .f-about__text {
        margin-top: 20px; } }
  @media only screen and (max-width: 414px) {
    .f-about {
      padding-bottom: 50px; }
      .f-about-wrap {
        padding: 0 14px !important; } }

.f-goods {
  padding-bottom: 60px; }
  .f-goods-recommend {
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden; }
    .f-goods-recommend-list li {
      position: relative;
      margin-bottom: 20px;
      float: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fff;
      width: 31.91489%;
      float: left;
      margin-right: 2.12766%; }
      .f-goods-recommend-list li:nth-child(3n) {
        margin-right: 0; }
  .f-goods-btn {
    margin-top: 20px;
    text-align: center; }
  @media only screen and (max-width: 768px) {
    .f-goods {
      padding-bottom: 80px; } }
  @media screen and (max-width: 667px) {
    .f-goods-recommend-list > li {
      width: 47.5%;
      width: calc(50% - 10px);
      margin-right: 20px; }
      .f-goods-recommend-list > li:nth-child(3n) {
        margin-right: 20px; }
      .f-goods-recommend-list > li:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 450px) {
    .f-goods {
      padding-bottom: 100px; }
      .f-goods-recommend-list > li {
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        margin-bottom: 20px; }
        .f-goods-recommend-list > li:last-child {
          margin-bottom: 0px; } }

.info-pic__pic {
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  position: relative;
  background-size: cover;
  background-position: 50%  50%; }

.info-all {
  background-color: #fff;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 414px) {
    .info-all {
      padding: 14px 14px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }

.info-text {
  height: 100px; }

.info__name {
  margin-top: 5px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #2e2e2e; }

@-moz-document url-prefix() {
  .info__name {
    max-height: 48px; } }
  .info__name a {
    color: #2e2e2e; }
    .info__name a:hover {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: #5a11bd; }

.info__brand, .info__store {
  color: #5a11bd;
  font-size: 14px;
  position: relative;
  width: 70%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .info__brand a, .info__store a {
    color: #5a11bd; }
    .info__brand a:hover, .info__store a:hover {
      text-decoration: underline; }

.info__store {
  margin-top: 5px; }
  .info__store a {
    color: #666; }

.info__price {
  font-size: 15px;
  margin-top: 12px; }
  .info__price .price-offical {
    color: #bbb;
    text-decoration: line-through; }
    .info__price .price-offical::after {
      content: 'ï¼Ž';
      display: inline-block;
      color: #2e2e2e; }
  .info__price .price-sale {
    color: #5a11bd; }
  @media only screen and (max-width: 414px) {
    .info__price {
      left: 14px;
      bottom: 14px; } }

.info__cart {
  background: url("/assets/img/cart-g.svg") 50% 50% no-repeat;
  cursor: pointer;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 10px;
  bottom: 10px; }
  .info__cart:hover, .info__cart:active {
    background: url("/assets/img/cart-v.svg") 50% 50% no-repeat !important; }
  @media only screen and (max-width: 768px) {
    .info__cart {
      background: url("/assets/img/cart-g.svg") 50% 50% no-repeat; } }
  @media only screen and (max-width: 414px) {
    .info__cart {
      right: 7px;
      bottom: 7px; } }

.wrapper-inner {
  padding: 0; }

.nav-index--click .nav-content-mainbar .mainbar__logo__logo {
  display: none; }
