@charset "UTF-8";
body {
  background-color: #f8f8f8;
}

.no-result {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.no-result__text {
  font-size: 21px;
  color: #bbb;
  line-height: 1.14;
  margin-top: 15px;
}

.m-header {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  background-color: #f7b500;
  background: -webkit-linear-gradient(263deg, #e9c463 0%, #ff9900 100%);
  background: linear-gradient(263deg, #e9c463 0%, #ff9900 100%);
}

.m-header__face {
  width: 70px;
  height: 70px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.m-header__face img {
  width: 100%;
  height: auto;
}

.m-header__name {
  font-size: 20px;
  margin-top: 10px;
}

.m-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.m-header h4 {
  font-size: 16px;
}

.m-header h4 span {
  font-weight: bold;
  margin-right: 5px;
}

h3 {
  font-size: 24px;
  color: #2e2e2e;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  h3 {
    margin-bottom: 20px;
  }
}

.m-address-wrap {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.m-address-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .m-address-wrap {
    max-width: 600px;
  }
}

.m-address__title {
  text-align: center;
  font-weight: bold;
  padding: 20px 20px;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  margin-bottom: 2px;
}

@media only screen and (max-width: 600px) {
  .m-address__title {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.m-address-list li {
  padding: 20px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  color: #666;
  font-size: 14px;
  position: relative;
  background-color: #ffffff;
}

.m-address-list li:last-child {
  border-bottom: 0;
}

.m-address-list li .infoshop, .m-address-list li .infotitle {
  color: #2e2e2e;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.m-address-list li .infoaddress {
  width: 75%;
  width: calc(100% - 70px);
}

.m-address-list li .info-right {
  position: absolute;
  right: 20px;
  top: 20px;
}

.m-address-list li .infodelete, .m-address-list li .infoedit {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
  width: 48px;
  height: 30px;
  font-size: 14px;
  display: table;
  cursor: pointer;
  font-weight: 600;
}

.m-address-list li .infodelete a, .m-address-list li .infoedit a {
  width: 100%;
  height: 30px;
  display: block;
}

.m-address-list li .infodelete a:hover, .m-address-list li .infoedit a:hover {
  color: #fff;
}

.m-address-list li .infodelete {
  color: #bbb;
  border: 1px solid #ddd;
}

.m-address-list li .infodelete a {
  color: #bbb;
}

.m-address-list li .infodelete:hover {
  color: #fff;
  border: 1px solid #ddd;
  background-color: #ddd;
}

.m-address-list li .infoedit {
  color: #2e2e2e;
  border: 1px solid #2e2e2e;
  margin-bottom: 10px;
}

.m-address-list li .infoedit a {
  color: #2e2e2e;
}

.m-address-list li .infoedit:hover {
  color: #fff;
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
}

@media only screen and (max-width: 600px) {
  .m-address-list li {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .m-address-list li .info-right {
    right: 14px;
    top: 14px;
  }
}

@media only screen and (max-width: 320px) {
  .m-address-list li .infodelete, .m-address-list li .infoedit {
    width: 42px;
  }
}

.m-address-list__addnew .addnew__btn {
  padding: 10px 0px;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #2e2e2e;
  border-width: 1px;
  border-style: solid;
  border-color: #2e2e2e;
}

.m-address-list__addnew .addnew__btn:hover {
  color: #fff;
  background-color: #4a4a4a;
}

.m-address-edit {
  background-color: #fff;
  padding: 20px 20px;
  box-sizing: border-box;
}

.m-address-edit li {
  margin-bottom: 10px;
}

.m-address-edit li:last-child {
  margin-bottom: 0;
}

.m-address-edit li .input__ps {
  color: #bbb;
  font-weight: normal;
  margin-top: 5px;
}

.m-address-edit input {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .m-address-edit {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 600px) {
  .m-addressEdit {
    padding-top: 0;
  }
}

.m-btns {
  margin-top: 30px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}

.m-btns:after {
  content: " ";
  display: block;
  clear: both;
}

.m-btns li {
  padding: 14px 0;
  float: left;
  width: 50%;
  font-weight: 600;
  text-align: center;
}

.m-btns__submit {
  color: #fff;
  background-color: #f7b500;
}

.m-btns__submit a {
  width: 100%;
  height: auto;
  display: block;
  color: #fff;
}

.m-btns__cancel {
  background-color: #fff;
  color: #2e2e2e;
}

.m-btns__cancel a {
  width: 100%;
  height: auto;
  display: block;
  color: #2e2e2e;
}

@media only screen and (max-width: 768px) {
  .m-btns {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .m-btns {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.m-switch {
  position: relative;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  box-sizing: border-box;
}

.m-switch ul {
  text-align: center;
}

.m-switch ul li {
  display: inline-block;
  margin: 0 16px;
  color: #2e2e2e;
  cursor: pointer;
}

.m-switch ul li > a {
  color: #2e2e2e;
}

@media only screen and (max-width: 620px) {
  .m-switch ul li {
    margin: 0 6px;
  }
}

.m-switch ul .is--now {
  font-weight: bold;
  text-decoration: underline;
  color: #f7b500;
}

.m-switch ul .is--now > a {
  color: #f7b500;
}

.m-switch.bb {
  border-bottom: 1px solid #ddd;
}

.m-switch.is--fixedtop {
  position: fixed;
  top: 59px;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 414px) {
  .m-switch.is--fixedtop {
    top: 54px;
  }
}

.m-switch.is--zero {
  top: 0px;
}

.m-like {
  padding-bottom: 0;
}

.m-like-wrap {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.m-like-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

@media only screen and (max-width: 960px) {
  .m-like-wrap {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 414px) {
  .m-like-wrap {
    padding: 0;
  }
}

.m-like .s-result-goods-list {
  margin-bottom: -20px;
}

.m-like .s-result-goods-list li {
  margin-top: 0px;
  margin-bottom: 20px;
}

.m-like .btn-more-load {
  margin-top: 30px;
}

.m-like .goods-list-info {
  background-color: #ffffff !important;
}

.m-like-store {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.m-like-store:after {
  content: " ";
  display: block;
  clear: both;
}

.m-like-store-list .like-store {
  background-color: #fff;
  padding: 20px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-like-store-list .like-store:first-child {
  margin-top: 0;
}

.m-like-store-list .like-store-brand {
  position: relative;
  font-size: 14px;
}

.m-like-store-list .like-store-brand__pic {
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.m-like-store-list .like-store-brand__pic img {
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.m-like-store-list .like-store-brand__name {
  color: #2e2e2e;
  font-weight: 600;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 166px);
}

.m-like-store-list .like-store-brand__num {
  color: #666;
}

.m-like-store-list .like-store-brand__like {
  position: absolute;
  right: 0;
  top: 0;
  color: #bbb;
  border: 1px solid #ddd;
  width: 76px;
  height: 26px;
  text-align: center;
  line-height: 27px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  box-sizing: border-box;
  cursor: pointer;
}

.m-like-store-list .like-store-brand__like:hover {
  background-color: #ddd;
  color: #fff;
}

.m-like-store-list .like-store-brand:after {
  clear: both;
  content: "";
  display: table;
}

.m-like-store-list .like-store-goods {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.m-like-store-list .like-store-goods ul li {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
}

.m-like-store-list .like-store-goods ul li:last-child {
  margin-right: 0;
}

.m-like-store-list .like-store-goods ul li a {
  color: #2e2e2e;
}

.m-like-store-list .like-store-goods__pic {
  height: 0;
  padding-bottom: 56.25%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.m-like-store-list .like-store-goods__pic img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  margin: auto;
}

.m-like-store-list .like-store-goods__name {
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-like-store-list .like-store-goods__name a {
  color: #2e2e2e;
}

.m-like-store-list .like-store:after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (max-width: 768px) {
  .m-like-store-list .like-store-brand__like:hover {
    color: #bbb;
    background-color: #fff;
  }
  .m-like-store-list .like-store-brand__like:active {
    background-color: #ddd;
    color: #fff;
  }
}

@media only screen and (max-width: 620px) {
  .m-like-store-list {
    margin-bottom: 20px;
  }
  .m-like-store-list .like-store {
    padding: 14px 14px;
    box-sizing: border-box;
  }
  .m-like-store-list .like-store-brand__name {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .m-like-store-list .like-store-goods {
    margin-top: 14px;
  }
  .m-like-store-list .like-store-goods ul li {
    width: 214px;
    margin-right: 20px;
  }
  .m-like-store-list .like-store-goods__name {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 414px) {
  .m-like .btn-more-load {
    margin-top: 20px;
  }
  .m-like .s-result-goods-list {
    margin-bottom: 0px;
  }
  .m-like .s-result-goods-list li {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .m-like .s-result-goods-list li:first-child {
    margin-top: 0;
  }
}

.m-notify {
  min-height: 513px;
  background-color: #f8f8f8;
  padding-bottom: 0;
}

.m-notify-wrap {
  max-width: 620px;
  position: relative;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .m-notify-wrap {
    max-width: 600px;
  }
}

.m-notify-personal-list {
  position: relative;
  background-color: #fff;
}

.m-notify-personal-list .list-row {
  position: relative;
  padding: 14px 14px;
  box-sizing: border-box;
  border-bottom: 2px solid #f8f8f8;
  cursor: pointer;
}

.m-notify-personal-list .list-row:last-child {
  border-bottom: 0;
}

.m-notify-personal-list .list-row__pic {
  float: left;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.m-notify-personal-list .list-row__pic img {
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.m-notify-personal-list .list-row__pic img {
  width: 200%;
}

.m-notify-personal-list .list-row__pic.default-pic img, .m-notify-personal-list .list-row__pic.default-main img {
  width: 100%;
}

.m-notify-personal-list .list-row__amount {
  float: left;
  width: 70px;
  height: 70px;
  text-align: center;
}

.m-notify-personal-list .list-row__amount span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  color: #ff3244;
  line-height: 70px;
}

.m-notify-personal-list .list-row-content {
  float: left;
  width: calc(100% - 98px);
  margin-left: 10px;
  padding-top: 3px;
}

.m-notify-personal-list .list-row-content__title {
  line-height: 1.62;
  font-weight: bold;
  color: #2e2e2e;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-notify-personal-list .list-row-content__title a {
  color: #2e2e2e;
}

.m-notify-personal-list .list-row-content__from {
  font-size: 14px;
  color: #999999;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-notify-personal-list .list-row-content__from .listOrderNo:after {
  content: 'ï¼Ž';
  display: inline-block;
}

.m-notify-personal-list .list-row-content__time {
  font-size: 12px;
  color: #999999;
}

.m-notify-personal-list .list-row-hint {
  width: 38px;
  right: 14px;
  width: 8px;
  height: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ff3244;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}

.m-notify-personal-list .list-row-hint.is--clear {
  background-color: transparent;
}

.m-notify-personal-list .list-row:after {
  clear: both;
  content: "";
  display: table;
}

.m-notify-personal .btn-more-load {
  display: block;
  margin-top: 30px;
}

@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .m-notify {
    min-height: 900px;
  }
}

@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .m-notify {
    min-height: 555px;
  }
}

@media only screen and (max-width: 768px) {
  .m-notify {
    min-height: 780px;
  }
}

@media only screen and (max-width: 414px) {
  .m-notify {
    min-height: 513px;
  }
  .m-notify-wrap {
    padding: 0 !important;
  }
  .m-notify-personal-list .list-row:hover {
    background-color: transparent;
  }
  .m-notify-personal-list .list-row:active {
    background-color: #f8f8f8;
  }
  .m-notify-personal .btn-more-load {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .m-notify {
    min-height: 350px;
  }
}

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.m-footer {
  margin-top: 50px;
  padding-bottom: 50px;
}

.m-footer .footer-cy {
  background-color: transparent;
  font-size: 12px;
  color: #bbb;
  margin-top: 5px;
}

@media only screen and (max-width: 620px) {
  .m-footer {
    margin-top: 30px;
  }
}

.no-content {
  text-align: center;
}

.no-content p {
  margin-top: 15px;
  font-size: 21px;
  color: #bbb;
}
