@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700");
.m-ask-order .order-arrow .arrow-line5, .m-ask-order .order-arrow .arrow-line6, .m-return-order .order-arrow .arrow-line5, .m-return-order .order-arrow .arrow-line6, .m-ask-order .order-arrow.is--show .arrow-line5, .m-ask-order .order-arrow.is--show .arrow-line6, .m-return-order .order-arrow.is--show .arrow-line5, .m-return-order .order-arrow.is--show .arrow-line6 {
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 1px;
}

body {
  background-color: #f8f8f8;
}

.m-ask-seegoods .store-goods__pic, .m-return-seegoods .store-goods__pic, .m-ask-seegoods .store-goods-plus__pic, .m-return-seegoods .store-goods-plus__pic {
  width: 120px;
  height: 120px;
  overflow: hidden;
  float: left;
}

.m-ask-seegoods .store-goods__pic img, .m-return-seegoods .store-goods__pic img, .m-ask-seegoods .store-goods-plus__pic img, .m-return-seegoods .store-goods-plus__pic img {
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.m-ask-seegoods .store-goods__pic img, .m-return-seegoods .store-goods__pic img, .m-ask-seegoods .store-goods-plus__pic img, .m-return-seegoods .store-goods-plus__pic img {
  width: 200%;
}

@media only screen and (max-width: 620px) {
  .m-ask-seegoods .store-goods__pic, .m-return-seegoods .store-goods__pic, .m-ask-seegoods .store-goods-plus__pic, .m-return-seegoods .store-goods-plus__pic {
    width: 90px;
    height: 90px;
  }
}

.m-header {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  background-color: #f7b500;
  background: -webkit-linear-gradient(263deg, #e9c463 0%, #ff9900 100%);
  background: linear-gradient(263deg, #e9c463 0%, #ff9900 100%);
}

.m-header__face {
  width: 70px;
  height: 70px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.m-header__face img {
  width: 100%;
  height: auto;
}

.m-header__name {
  position: relative;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.m-header-money {
  width: 300px;
  height: 79px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  text-align: center;
  padding: 14px 10px;
  box-sizing: border-box;
}

.m-header-money-q {
  float: left;
  width: 50%;
  padding-right: 10px;
  box-sizing: border-box;
}

.m-header-money-c {
  float: left;
  width: 50%;
  padding-left: 10px;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
}

.m-header-money .money__num {
  font-size: 20px;
  color: #ff3244;
  font-weight: 500;
}

.m-header-money .money__unit {
  font-size: 14px;
  color: #2e2e2e;
}

@media only screen and (max-width: 414px) {
  .m-header-money {
    width: calc(100% - 28px);
  }
}

.m-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.m-header h4 {
  font-size: 16px;
}

.m-header h4 span {
  font-weight: bold;
  margin-right: 5px;
}

.m-content-wrap {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.m-content-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.m-content-items li {
  width: 140px;
  margin-right: 20px;
  float: left;
  margin-bottom: 20px;
  background-color: #fff;
}

.m-content-items li:nth-child(4n) {
  margin-right: 0;
}

.m-content-items li .items-height {
  cursor: pointer;
  height: 0px;
  padding: 50% 0%;
  position: relative;
  font-size: 15px;
  color: #2e2e2e;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.m-content-items li .items-height:hover {
  color: #f7b500;
}

.m-content-items li .items-height .items__icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: 0%;
  margin-top: -30px;
}

.m-content-items li .items-height > span {
  display: block;
  margin-top: 10px;
}

.m-content-items .m-content-items__01 .items__icon {
  background: transparent url("/assets/img/mem-order-b.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__01:hover .items__icon {
  background: transparent url("/assets/img/mem-order-y.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__02 .items__icon {
  background: transparent url("/assets/img/mem-notify-b.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__02:hover .items__icon {
  background: transparent url("/assets/img/mem-notify-y.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__02 .msg-alert {
  top: -4px;
  right: -10px;
}

.m-content-items .m-content-items__03 .items__icon {
  background: transparent url("/assets/img/mem-like-b.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__03:hover .items__icon {
  background: transparent url("/assets/img/mem-like-y.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__04 .items__icon {
  background: transparent url("/assets/img/mem-purse-b.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__04:hover .items__icon {
  background: transparent url("/assets/img/mem-purse-y.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__05 .items__icon {
  background: transparent url("/assets/img/mem-address-b.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__05:hover .items__icon {
  background: transparent url("/assets/img/mem-address-y.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__06 .items__icon {
  background: transparent url("/assets/img/mem-setting-b.svg") 50% 50% no-repeat;
}

.m-content-items .m-content-items__06:hover .items__icon {
  background: transparent url("/assets/img/mem-setting-y.svg") 50% 50% no-repeat;
}

@media only screen and (max-width: 620px) {
  .m-content-wrap {
    padding: 0 14px;
    box-sizing: border-box;
  }
  .m-content-items li {
    width: calc(33.167% - 13px);
    margin-bottom: 20px;
  }
  .m-content-items li:nth-child(n) {
    margin-right: 20px;
  }
  .m-content-items li:nth-child(3n) {
    margin-right: 0;
  }
  .m-content-items li:nth-child(4), .m-content-items li:nth-child(5), .m-content-items li:nth-child(6) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 414px) {
  .m-content-wrap {
    padding: 0 14px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 320px) {
  .m-content-items li {
    width: 84px;
  }
  .m-content-items li:nth-child(n) {
    margin-right: 20px;
  }
  .m-content-items li:nth-child(3n) {
    margin-right: 0;
  }
}

.m-order-wrap {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.m-order-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.m-order-search__input {
  width: calc(100% - 72px);
  float: left;
  border-radius: 4px 0 0 4px;
  border-right: 0;
  height: 50px;
}

.m-order-search__btn {
  background-color: #2e2e2e;
  border-radius: 0 4px 4px 0;
  width: 72px;
  height: 44px;
  color: #fff;
  font-weight: bold;
  float: right;
  border: 1px solid #2e2e2e;
  box-sizing: border-box;
  cursor: pointer;
}

.m-order-search__btn:hover {
  background-color: #4a4a4a;
}

.m-order-search:after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (max-width: 414px) {
  .m-order-search {
    width: calc(100% - 28px);
    margin: 0 auto;
    position: relative;
  }
}

.m-order-select {
  margin-top: 10px;
  background-color: #fff;
}

@media only screen and (max-width: 414px) {
  .m-order-select {
    width: calc(100% - 28px);
    margin: 10px auto 0;
    position: relative;
  }
}

@media only screen and (max-width: 414px) {
  .m-order {
    padding-bottom: 10px;
  }
}

.m-order-order {
  margin-top: 30px;
}

.m-order-order .order-box {
  margin-bottom: 20px;
  cursor: pointer;
}

.m-order-order .order-box:last-child {
  margin-bottom: 0;
}

.m-order-order .order-box-list {
  padding: 14px 14px;
  box-sizing: border-box;
  background-color: #fff;
}

.m-order-order .order-box li {
  margin-bottom: 10px;
}

.m-order-order .order-box li:after {
  clear: both;
  content: "";
  display: table;
}

.m-order-order .order-box li:last-child {
  margin-bottom: 0;
}

.m-order-order .order-box__left {
  color: #999999;
}

.m-order-order .order-box__right {
  color: #2e2e2e;
}

.m-order-order .order-box .order--success, .m-order-order .order-box .order--setup {
  color: #2e2e2e;
}

.m-order-order .order-box .order--processing {
  color: #2ecc71;
}

.m-order-order .order-box .order--failure, .m-order-order .order-box .order--change {
  color: #e74c3c;
}

.m-order-order .order-box .order--return {
  color: #bdc3c7;
}

.m-order-order .order-box-price {
  padding: 14px 14px;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 2px;
}

.m-order-order .order-box-price:after {
  clear: both;
  content: "";
  display: table;
}

.m-order-order .order-box-price .order-box__right {
  font-weight: bold;
  color: #f7b500;
}

.order-box__left {
  float: left;
  width: 50%;
}

.order-box__right {
  float: right;
  width: 50%;
  text-align: right;
}

h3 {
  font-size: 24px;
  color: #2e2e2e;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 620px) {
  h3 {
    margin-bottom: 20px;
  }
}

.m-orderDetail-top .order-box__left {
  font-weight: 600;
}

.m-orderDetail-top .order-box__right {
  color: #666;
}

.m-orderDetail-top .status--notpay, .m-orderDetail-top .status--refund {
  color: #e74c3c;
}

.m-orderDetail-top .status--haspaid, .m-orderDetail-top .status--refunded {
  color: #2e2e2e;
}

.m-orderDetail-top li {
  background-color: #fff;
  padding: 20px 20px;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.m-orderDetail-top li:after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (max-width: 620px) {
  .m-orderDetail-top li {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.m-ask, .m-return {
  color: #2e2e2e;
  padding: 0px;
}

@media only screen and (max-width: 414px) {
  .m-ask, .m-return {
    margin-bottom: 82px;
  }
}

.m-ask-wrap, .m-return-wrap {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.m-ask-wrap:after, .m-return-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.m-ask-wrap > div, .m-return-wrap > div {
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .m-ask-wrap, .m-return-wrap {
    max-width: 600px;
  }
}

.m-ask .m-ask-brand, .m-ask .m-ask-order, .m-ask .m-ask-qa, .m-ask .m-ask-textarea, .m-ask .store-goods, .m-ask .store-goods-plus, .m-return .m-ask-brand, .m-return .m-ask-order, .m-return .m-ask-qa, .m-return .m-ask-textarea, .m-return .store-goods, .m-return .store-goods-plus {
  padding: 20px 20px;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 620px) {
  .m-ask .m-ask-brand, .m-ask .m-ask-order, .m-ask .m-ask-qa, .m-ask .m-ask-textarea, .m-ask .store-goods, .m-ask .store-goods-plus, .m-return .m-ask-brand, .m-return .m-ask-order, .m-return .m-ask-qa, .m-return .m-ask-textarea, .m-return .store-goods, .m-return .store-goods-plus {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.m-ask-brand, .m-return-brand {
  margin-bottom: 2px;
}

.m-ask-brand img, .m-return-brand img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-right: 6px;
}

.m-ask-brand > span, .m-return-brand > span {
  font-size: 14px;
  font-weight: 700;
}

.m-ask-order, .m-return-order {
  cursor: pointer;
  border-bottom: 2px solid #f8f8f8;
}

.m-ask-order span.order-no, .m-return-order span.order-no {
  margin-left: 10px;
}

.m-ask-order .order-arrow, .m-return-order .order-arrow {
  float: right;
  margin-right: 14px;
}

.m-ask-order .order-arrow span, .m-return-order .order-arrow span {
  font-size: 14px;
  float: left;
  font-weight: 600;
}

.m-ask-order .order-arrow .arrow-line5, .m-ask-order .order-arrow .arrow-line6, .m-return-order .order-arrow .arrow-line5, .m-return-order .order-arrow .arrow-line6 {
  background-color: #2e2e2e;
  margin-top: 8px;
  margin-left: 8px;
  -webkit-transform: translateX(0px) rotate(126deg);
  -ms-transform: translateX(0px) rotate(126deg);
  transform: translateX(0px) rotate(126deg);
}

.m-ask-order .order-arrow .arrow-line6, .m-return-order .order-arrow .arrow-line6 {
  -webkit-transform: translateX(-5px) rotate(-126deg);
  -ms-transform: translateX(-5px) rotate(-126deg);
  transform: translateX(-5px) rotate(-126deg);
}

.m-ask-order .order-arrow .arrow-line5, .m-ask-order .order-arrow .arrow-line6, .m-return-order .order-arrow .arrow-line5, .m-return-order .order-arrow .arrow-line6 {
  height: 1.5px;
}

.m-ask-order .order-arrow.is--show .arrow-line5, .m-ask-order .order-arrow.is--show .arrow-line6, .m-return-order .order-arrow.is--show .arrow-line5, .m-return-order .order-arrow.is--show .arrow-line6 {
  background-color: #2e2e2e;
  margin-top: 8px;
  margin-left: 3px;
  -webkit-transform: translateX(0px) rotate(126deg);
  -ms-transform: translateX(0px) rotate(126deg);
  transform: translateX(0px) rotate(126deg);
}

.m-ask-order .order-arrow.is--show .arrow-line6, .m-return-order .order-arrow.is--show .arrow-line6 {
  -webkit-transform: translateX(5px) rotate(-126deg);
  -ms-transform: translateX(5px) rotate(-126deg);
  transform: translateX(5px) rotate(-126deg);
}

.m-ask-order .order-arrow.is--show .arrow-line5, .m-ask-order .order-arrow.is--show .arrow-line6, .m-return-order .order-arrow.is--show .arrow-line5, .m-return-order .order-arrow.is--show .arrow-line6 {
  height: 1.5px;
}

.m-ask-order:after, .m-return-order:after {
  clear: both;
  content: "";
  display: table;
}

.m-ask-seegoods, .m-return-seegoods {
  border-bottom: 2px solid #f8f8f8;
}

.m-ask-seegoods .store-goods, .m-return-seegoods .store-goods {
  position: relative;
}

.m-ask-seegoods .store-goods-box, .m-return-seegoods .store-goods-box {
  font-size: 14px;
}

.m-ask-seegoods .store-goods-box:after, .m-return-seegoods .store-goods-box:after {
  clear: both;
  content: "";
  display: table;
}

.m-ask-seegoods .store-goods__pic, .m-return-seegoods .store-goods__pic {
  width: 70px;
  height: 70px;
}

.m-ask-seegoods .store-goods__name, .m-return-seegoods .store-goods__name {
  padding-top: 5px;
  color: #2e2e2e;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  font-weight: 600;
}

.m-ask-seegoods .store-goods__select, .m-ask-seegoods .store-goods__price, .m-return-seegoods .store-goods__select, .m-return-seegoods .store-goods__price {
  color: #bbb;
}

.m-ask-seegoods .store-goods .pos-right, .m-return-seegoods .store-goods .pos-right {
  float: right;
  margin-left: 10px;
  width: calc(100% - 80px);
}

.m-ask-seegoods .store-goods-plus, .m-return-seegoods .store-goods-plus {
  margin-top: 20px;
  position: relative;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 414px) {
  .m-ask-seegoods .store-goods-plus, .m-return-seegoods .store-goods-plus {
    margin-top: 14px;
  }
}

.m-ask-seegoods .store-goods-plus-box, .m-return-seegoods .store-goods-plus-box {
  font-size: 14px;
  margin-bottom: 10px;
}

.m-ask-seegoods .store-goods-plus-box:after, .m-return-seegoods .store-goods-plus-box:after {
  clear: both;
  content: "";
  display: table;
}

.m-ask-seegoods .store-goods-plus-box:last-child, .m-return-seegoods .store-goods-plus-box:last-child {
  margin-bottom: 0;
}

.m-ask-seegoods .store-goods-plus__title, .m-return-seegoods .store-goods-plus__title {
  text-align: center;
  font-size: 14px;
  background-color: #fff4e2;
  padding: 3px 4px 1px;
  display: table;
  margin-bottom: 10px;
}

.m-ask-seegoods .store-goods-plus__pic, .m-return-seegoods .store-goods-plus__pic {
  width: 60px;
  height: 60px;
}

.m-ask-seegoods .store-goods-plus__name, .m-return-seegoods .store-goods-plus__name {
  color: #2e2e2e;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  font-weight: 500;
}

.m-ask-seegoods .store-goods-plus__select, .m-ask-seegoods .store-goods-plus__price, .m-return-seegoods .store-goods-plus__select, .m-return-seegoods .store-goods-plus__price {
  color: #bbb;
}

.m-ask-seegoods .store-goods-plus .pos-right, .m-return-seegoods .store-goods-plus .pos-right {
  width: calc(100% - 70px);
}

.m-ask-scroll, .m-return-scroll {
  overflow-y: auto;
  margin-bottom: 2px;
}

.m-ask-scroll::-webkit-scrollbar, .m-return-scroll::-webkit-scrollbar {
  background-color: #fff;
  width: 6px;
}

.m-ask-scroll::-webkit-scrollbar-thumb, .m-return-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(46, 46, 46, 0.3);
  border-radius: 6px;
}

.m-ask-qa .no-content, .m-return-qa .no-content {
  padding: 30px 0;
  text-align: center;
}

.m-ask-qa .no-content p, .m-return-qa .no-content p {
  margin-top: 15px;
  font-size: 21px;
  color: #bbb;
}

@media only screen and (max-width: 620px) {
  .m-ask-qa-qabox, .m-return-qa-qabox {
    padding-top: 16px;
  }
}

.m-ask-qa-qabox .qabox-me, .m-ask-qa-qabox .qabox-owner, .m-return-qa-qabox .qabox-me, .m-return-qa-qabox .qabox-owner {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.m-ask-qa-qabox .qabox-me:after, .m-ask-qa-qabox .qabox-owner:after, .m-return-qa-qabox .qabox-me:after, .m-return-qa-qabox .qabox-owner:after {
  clear: both;
  content: "";
  display: table;
}

.m-ask-qa-qabox .qabox-frame, .m-return-qa-qabox .qabox-frame {
  max-width: 260px;
}

.m-ask-qa-qabox .qabox-frame__arrow, .m-return-qa-qabox .qabox-frame__arrow {
  width: 5px;
  height: 0px;
  border-style: solid;
  float: left;
}

.m-ask-qa-qabox .qabox-frame__say, .m-return-qa-qabox .qabox-frame__say {
  padding: 14px 14px;
  box-sizing: border-box;
  max-width: 240px;
  float: left;
  position: relative;
  z-index: 3;
}

.m-ask-qa-qabox .qabox-frame__time, .m-return-qa-qabox .qabox-frame__time {
  color: #999;
  top: 5px;
  font-size: 12px;
  position: relative;
  display: block;
  z-index: 2;
}

.m-ask-qa-qabox .qabox-frame:after, .m-return-qa-qabox .qabox-frame:after {
  clear: both;
  content: "";
  display: table;
}

.m-ask-qa-qabox .qabox-me .qabox-frame, .m-return-qa-qabox .qabox-me .qabox-frame {
  float: right;
}

.m-ask-qa-qabox .qabox-me .qabox-frame__say, .m-return-qa-qabox .qabox-me .qabox-frame__say {
  color: #fff;
  background-color: #f7b500;
  float: right;
}

.m-ask-qa-qabox .qabox-me .qabox-frame__arrow, .m-return-qa-qabox .qabox-me .qabox-frame__arrow {
  border-width: 10px 10px 0 0;
  border-color: #f7b500 transparent transparent transparent;
  margin-left: -6px;
  float: right;
}

.m-ask-qa-qabox .qabox-owner .qabox-frame, .m-return-qa-qabox .qabox-owner .qabox-frame {
  float: left;
}

.m-ask-qa-qabox .qabox-owner .qabox-frame__say, .m-return-qa-qabox .qabox-owner .qabox-frame__say {
  background-color: #f8f8f8;
}

.m-ask-qa-qabox .qabox-owner .qabox-frame__arrow, .m-return-qa-qabox .qabox-owner .qabox-frame__arrow {
  border-width: 0  10px 10px 0;
  border-color: transparent #f8f8f8 transparent  transparent;
}

.m-ask-qa-qabox .qabox-owner .qabox-frame__time, .m-return-qa-qabox .qabox-owner .qabox-frame__time {
  margin-left: 16px;
}

.m-ask-textarea textarea, .m-return-textarea textarea {
  width: 100%;
  border: 0;
  height: 80px;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.m-ask-textarea .textarea-words, .m-return-textarea .textarea-words {
  color: #bbb;
  text-align: right;
  font-size: 14px;
  margin-top: 6px;
}

.m-return .m-return__title, .m-return .m-return-order, .m-return .m-return-bank, .m-return .m-return-reason {
  padding: 20px 20px;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .m-return .m-return__title, .m-return .m-return-order, .m-return .m-return-bank, .m-return .m-return-reason {
    padding: 14px 14px;
    box-sizing: border-box;
  }
}

.m-return-wrap > div {
  background-color: transparent;
}

.m-return-wrap > div > div {
  background-color: #fff;
}

.m-return__title {
  text-align: center;
  font-weight: bold;
  background-color: #fff !important;
  margin-bottom: 2px;
}

.m-return-bygoods {
  position: relative;
  padding-bottom: 20px;
}

.m-return-bygoods:last-child {
  padding-bottom: 0;
}

.m-return-seegoods .pos-top {
  position: relative;
  min-height: 30px;
}

.m-return-seegoods .seegoods-check {
  width: 100%;
  position: absolute;
}

.m-return-seegoods .seegoods-check input[type=checkbox].seegoods__check {
  border: 0;
  display: none;
}

.m-return-seegoods .seegoods-check input[type=checkbox].seegoods__check + label.seegoods__label {
  width: 100%;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.m-return-seegoods .seegoods-check input[type=checkbox].seegoods__check:checked + label.seegoods__label {
  background-position: 0 -30px;
}

.m-return-seegoods .seegoods-check input[type=checkbox].seegoods__check.check--disable + label.seegoods__label {
  background-position: 0 -60px;
  pointer-events: none;
}

.m-return-seegoods .seegoods-check label.seegoods__label {
  float: left;
  background-image: url("/assets/img/checkbox.png");
  background-size: 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-return-seegoods .seegoods-check:after {
  clear: both;
  content: "";
  display: table;
}

.m-return-seegoods .store-goods__name {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 0;
  width: calc(100% - 80px);
  margin-left: 40px;
  height: auto !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
  pointer-events: none;
}

.m-return-seegoods .store-goods__pic {
  width: 50px;
  height: 50px;
}

.m-return-seegoods .store-goods-plus__name {
  padding-top: 0;
  margin-bottom: 10px;
  height: auto !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
}

.m-return-seegoods .store-goods-plus__pic {
  width: 50px;
  height: 50px;
}

.m-return-seegoods .store-goods .pos-right {
  width: calc(100% - 60px);
  padding-top: 5px;
}

.m-return-seegoods .store-goods .pos-top {
  margin-bottom: 10px;
}

.m-return-seegoods .store-goods .pos-top:after {
  clear: both;
  content: "";
  display: table;
}

.m-return-textarea {
  padding: 14px 14px;
  box-sizing: border-box;
}

.m-return-reason {
  font-size: 16px;
}

.m-return-reason__title {
  font-weight: 600;
  color: #2e2e2e;
}

.m-return-reason__text {
  margin-top: 10px;
  color: #bbb;
}

.m-return-bank {
  background-color: #fff !important;
}

.m-return-bank-fillin > li {
  margin-bottom: 10px;
}

.m-return-bank-fillin > li input[type="text"] {
  width: 100%;
  height: 44px;
  padding: 10px 10px;
}

.m-return-bank-fillin > li:last-child {
  margin-bottom: 0;
}

.m-return-bank-fillin > li .bank-select {
  background-color: #fff;
}

.m-return-bank-fillin > li .bank-select span {
  height: 44px !important;
  line-height: 46px !important;
  color: #bbb;
}

@media only screen and (max-width: 414px) {
  .m-ask {
    margin-bottom: 52px;
  }
}

.m-dock {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  bottom: -1px;
  z-index: 5;
}

.m-dock__back {
  color: #2e2e2e;
  font-weight: 600;
  text-align: center;
  padding: 14px 0;
}

.m-dock__back--single {
  width: 100%;
}

.m-dock__back--double {
  width: 50%;
  float: left;
}

.m-dock__back a {
  width: 100%;
  height: auto;
  display: block;
  color: #2e2e2e;
}

.m-dock__back a:hover {
  color: #f7b500;
}

.m-dock__back.applyReturn {
  background-color: #f8f8f8;
  color: #bbb;
}

.m-dock__back.applyReturn a {
  color: #bbb;
}

.m-dock-btns li {
  padding: 14px 0;
  float: left;
  width: 50%;
  font-weight: 600;
}

.m-dock-btns__submit {
  color: #fff;
  background-color: #f7b500;
}

.m-dock-btns__submit a {
  width: 100%;
  height: auto;
  display: block;
  color: #fff;
}

.m-dock-btns__cancel {
  background-color: #fff;
  color: #2e2e2e;
}

.m-dock-btns__cancel a {
  width: 100%;
  height: auto;
  display: block;
  color: #2e2e2e;
}

.m-dock.is--scrollBottom {
  position: relative;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
  box-shadow: 0 0px 0px 0 transparent;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.m-dock.is--scrollBottom:after {
  content: " ";
  display: block;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .m-dock.is--scrollBottom {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .m-dock.is--scrollBottom {
    width: 100%;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.m-dock-forAsk.is--scrollBottom {
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.m-footer {
  padding-bottom: 50px;
}

.m-footer .footer-cy {
  background-color: transparent;
  font-size: 12px;
  color: #bbb;
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .m-footer {
    margin-top: 20px;
    padding-bottom: 30px;
  }
}

.c-showall .store-brand {
  background-color: #fff;
  width: 100%;
}

.c-showall .store-brand.is--fixedtop {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.c-showall-store {
  margin-bottom: 20px;
}

.c-showall-store:last-child {
  margin-bottom: 0;
}

.c-showall-store .store-goods__name {
  width: calc(100% - 66px);
}

.c-confirm {
  padding-top: 0;
  padding-bottom: 0;
}

.c-confirm .payinfo > li {
  position: relative;
  border-bottom: 0;
  padding: 0;
  margin-bottom: 10px;
}

.c-confirm .payinfo > li:after {
  clear: both;
  content: "";
  display: table;
}

.c-confirm .payinfo__item {
  float: left;
}

.c-confirm .payinfo__subtotal, .c-confirm .payinfo__discount, .c-confirm .payinfo__total {
  float: right;
}

.c-confirm .payinfo__discount {
  color: #ff3244;
}

.c-confirm .payinfo__total {
  color: #f7b500;
  font-weight: bold;
}

@media only screen and (max-width: 414px) {
  .c-confirm {
    margin-bottom: 82px;
  }
}

textarea[disabled] {
  background-color: #f8f8f8;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

textarea[disabled]::-webkit-input-placeholder {
  color: #bdc3c7 !important;
}
