@-webkit-keyframes zoom {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    50% {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); } }
  
  /* level */
  /* header_top 1002 */
  /* div_mask 999 / 1002 */
  /* div_maskForSearch 999 */
  /* nav_headerCenter 1003 */
  /* .div_searchBar 1001 */
  /* .div_searchResultNav 998 */
  /* .nav_member 1001 */
  body {
    letter-spacing: 1px; }
  
  .header_top {
    height: 60px;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 1002;
    padding: 14px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3); }
    .header_top a, .header_top a:hover {
      text-decoration: none; }
  
  /*--------------- div_headerLeft ---------------*/
  .div_headerLeft {
    width: 30%;
    float: left;
    line-height: 33px; }
    @media only screen and (max-width: 900px) {
      .div_headerLeft {
        width: 35%; } }
    .div_headerLeft .div_navIcon {
      display: block; }
      @media only screen and (max-width: 900px) {
        .div_headerLeft .div_navIcon {
          display: block;
          width: 20px;
          height: 20px;
          position: relative;
          float: left;
          cursor: pointer;
        } }
      @media only screen and (max-width: 900px) {
        .div_headerLeft .div_navIcon .span_top, .div_headerLeft .div_navIcon .span_middle, .div_headerLeft .div_navIcon .span_bottom {
          width: 100%;
          height: 2px;
          background-color: #d01120;
          position: absolute; } }
      @media only screen and (max-width: 900px) {
        .div_headerLeft .div_navIcon .span_middle {
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); } }
      @media only screen and (max-width: 900px) {
        .div_headerLeft .div_navIcon .span_top {
          top: 2px; } }
      @media only screen and (max-width: 900px) {
        .div_headerLeft .div_navIcon .span_bottom {
          bottom: 2px; } }
    .div_headerLeft a {
      color: #d01120;
      font-size: 14px; }
      .div_headerLeft a.logoS {
        display: none; }
        @media only screen and (max-width: 425px) {
          .div_headerLeft a.logoS {
            display: block; } }
      .div_headerLeft a.logoRed, .div_headerLeft a.logoBlack {
        display: block; }
        @media only screen and (max-width: 425px) {
          .div_headerLeft a.logoRed, .div_headerLeft a.logoBlack {
            display: none; } }
      .div_headerLeft a.logoRed {
        color: #ff3244; }
      @media only screen and (max-width: 900px) {
        .div_headerLeft a span {
          display: none; } }
      .div_headerLeft a img {
        width: calc(154px / 2);
        margin-right: 8px; }
        @media only screen and (max-width: 425px) {
          .div_headerLeft a img {
            width: calc(44px / 2); } }
  
  /*--------------- nav_headerCenter ---------------*/
  .nav_headerCenter {
    width: 40%;
    float: left;
    text-align: center;
    position: fixed;
    left: 30%;
    top: 14px;
    z-index: 1003; }
      .nav_headerCenter {
        left: -320px;
        top: 0;
        background-color: #fff;
        max-width: 320px;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        text-align: left; }
        .nav_headerCenter--show {
          left: 0; } 
    .nav_headerCenter a {
      color: #2e2e2e;
      font-size: 16px;
      line-height: 32px;
      padding: 0 20px;
      text-decoration: none; }
      @media only screen and (max-width: 1024px) {
        .nav_headerCenter a {
          padding: 0 5%; } }
      @media only screen and (max-width: hd) {
        .nav_headerCenter a {
          padding: 0 5%; } }
        .nav_headerCenter a {
          display: block;
          padding: 10px 20px;
          line-height: 24px; } 
      .nav_headerCenter a:hover {
        cursor: pointer;
        text-decoration: none; }
      .nav_headerCenter a.a_Home:hover, .nav_headerCenter a.a_Home.arrive {
        color: #d01120; }
      .nav_headerCenter a.a_QMaker:hover, .nav_headerCenter a.a_QMaker.arrive {
        color: #d01120; }
      .nav_headerCenter a.a_QGoods:hover, .nav_headerCenter a.a_QGoods.arrive {
        color: #d01120; }
      .nav_headerCenter a.a_QShare:hover, .nav_headerCenter a.a_QShare.arrive {
        color: #d01120; }
      .nav_headerCenter a.a_Point:hover, .nav_headerCenter a.a_Point.arrive {
        color: #d01120; }
  
  .div_navClose, .a_Point, .div_plus {
    display: none; }
      .div_navClose, .a_Point, .div_plus {
        display: block; } 
  
  .div_navClose, .a_QMaker, .div_plus {
    display: none; }
      .div_navClose, .a_QMaker, .div_plus {
        display: block; } 
  
  .div_navClose, .a_QGoods, .div_plus {
    display: none; }
      .div_navClose, .a_QGoods, .div_plus {
        display: block; } 
  
  .div_navClose, .a_QShare, .div_plus {
    display: none; }
      .div_navClose, .a_QShare, .div_plus {
        display: block; }                  
  
  .div_navClose {
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb; }
  
      .div_navClose {
        margin-bottom: 10px; }
        .div_navClose .div_navCloseIcon {
          width: 20px;
          height: 20px;
          position: relative;
          cursor: pointer; }
          .div_navClose .div_navCloseIcon .span_left, .div_navClose .div_navCloseIcon .span_right {
            position: absolute;
            width: 26px;
            height: 2px;
            left: 2px;
            background-color: #2e2e2e; }
          .div_navClose .div_navCloseIcon .span_left {
            top: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0; }
          .div_navClose .div_navCloseIcon .span_right {
            bottom: 0;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            transform-origin: 0 100%; } 
  
  .div_plus {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ebebeb; }
    .div_plus a {
      font-size: 14px;
      line-height: 21px; }
    .div_plus img {
      width: 13px;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle; }
    .div_plus span {
      display: inline-block;
      vertical-align: middle; }
  
  /*--------------- div_headerRight ---------------*/
  .div_headerRight {
    width: 30%;
    float: left;
    text-align: right;
    margin-left: 40%; }
    @media only screen and (max-width: 900px) {
      .div_headerRight {
        width: 65%;
        margin-left: 0; } }
    .div_headerRight a {
      margin-right: 24px;
      margin-top: 6px;
      display: inline-block;
      vertical-align: top; }
      @media only screen and (max-width: 1024px) {
        .div_headerRight a {
          margin-right: 8%; } }
      @media only screen and (max-width: hd) {
        .div_headerRight a {
          margin-right: 8%; } }
      @media only screen and (max-width: 900px) {
        .div_headerRight a {
          margin-right: 24px; } }
      .div_headerRight a img {
        width: 20px;
        vertical-align: text-top; }
    .div_headerRight button.logout {
      border: 0;
      color: #fff;
      height: 32px;
      font-size: 14px;
      cursor: pointer;
      padding: 0 14px;
      border-radius: 100px;
      background-color: #d01120;
      vertical-align: top; }
      @media only screen and (max-width: 425px) {
        .div_headerRight button.logout {
          border-radius: 0;
          background-color: transparent;
          padding: 0; } }
      .div_headerRight button.logout img {
        display: none;
        width: 20px;
        vertical-align: text-top; }
        @media only screen and (max-width: 425px) {
          .div_headerRight button.logout img {
            display: inline-block; } }
      .div_headerRight button.logout span {
        display: inline-block; }
        @media only screen and (max-width: 425px) {
          .div_headerRight button.logout span {
            display: none; } }
    .div_headerRight button.login {
      cursor: pointer;
      margin-top: 6px;
      border-radius: 100px;
      width: 20px;
      height: 20px;
      overflow: hidden;
      -webkit-box-shadow: 0 0 0 1.4px black;
      -moz-box-shadow: 0 0 0 1.4px black;
      box-shadow: 0 0 0 1.4px black;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      padding: 0;
      border: 0; }
      .div_headerRight button.login img {
        max-width: 100%;
        display: inline-block;
        vertical-align: top; }
      .div_headerRight button.login.btn_loginNav {
        border-radius: 0px;
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        position: relative;
        background: transparent;
        overflow: visible; }
        .div_headerRight button.login.btn_loginNav:before, .div_headerRight button.login.btn_loginNav:after {
          content: '';
          width: 20px;
          height: 2px;
          background: #2e2e2e;
          position: absolute;
          left: 50%;
          top: 50%; }
        .div_headerRight button.login.btn_loginNav:before {
          -webkit-transform: rotate(45deg) translate(-50%, -50%);
          -moz-transform: rotate(45deg) translate(-50%, -50%);
          -o-transform: rotate(45deg) translate(-50%, -50%);
          -ms-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
          -webkit-transform-origin: 0 0;
          -moz-transform-origin: 0 0;
          -o-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0; }
        .div_headerRight button.login.btn_loginNav:after {
          -webkit-transform: rotate(-45deg) translate(-50%, -50%);
          -moz-transform: rotate(-45deg) translate(-50%, -50%);
          -o-transform: rotate(-45deg) translate(-50%, -50%);
          -ms-transform: rotate(-45deg) translate(-50%, -50%);
          transform: rotate(-45deg) translate(-50%, -50%);
          -webkit-transform-origin: 0 0;
          -moz-transform-origin: 0 0;
          -o-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0; }
        .div_headerRight button.login.btn_loginNav img {
          display: none; }
  
  /*--------------- nav_member ---------------*/
  .nav_member {
    right: -320px;
    top: 60px;
    background-color: #fff;
    max-width: 320px;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-align: left;
    position: fixed;
    z-index: 1001;
    padding: 20px; }
    .nav_member--show {
      right: 0; }
    .nav_member .a_navMemberHead {
      display: block;
      position: relative;
      padding-left: 62px;
      margin: 0; }
      .nav_member .a_navMemberHead img {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 42px;
        border-radius: 100px; }
      .nav_member .a_navMemberHead p {
        color: #2e2e2e;
        font-size: 16px;
        line-height: 24px; }
        .nav_member .a_navMemberHead p span {
          display: block;
          color: #7c7c7c;
          font-size: 12px;
          line-height: 18px; }
    .nav_member hr {
      margin-bottom: 0; }
    .nav_member a, .nav_member button {
      color: #2e2e2e;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      margin-top: 20px;
      display: block;
      cursor: pointer;
      border: 0;
      background: transparent;
      width: 100%;
      text-align: left; }
      .nav_member a:hover, .nav_member button:hover {
        cursor: pointer;
        text-decoration: none; }
  
  /*--------------- header_theme ---------------*/
  .header_theme {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    z-index: 999;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3); }
    .header_theme a {
      color: #454545;
      margin: 0 20px;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      line-height: 40px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .header_theme a.arrive, .header_theme a:hover {
        -webkit-box-shadow: inset 0 -2px 0 0 #d01120;
        -moz-box-shadow: inset 0 -2px 0 0 #d01120;
        box-shadow: inset 0 -2px 0 0 #d01120;
        text-decoration: none; }
    .header_theme.header_QMaker {
      background-color: #F5F5F5; }
    .header_theme.header_QGoods {
      background-color: #F5F5F5; }
    .header_theme.header_QShare {
      background-color: #00d2cd; }
    .header_theme.header_Point {
      background-color: #2350dc; }
  
  /*--------------- div_searchBar ---------------*/
  .div_searchBar {
    position: fixed;
    top: 60px;
    left: 0;
    padding: 30px 0;
    background-color: #fff;
    z-index: 1001;
    display: none;
    color: #d01120;
    text-align: center;
    width: 100%;
    height: 90px;
    font-size: 20px;
    line-height: 30px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3); }
    .div_searchBar input {
      width: 100%;
      max-width: 1150px;
      border: 0;
      padding: 0 20px; }
      .div_searchBar input::-webkit-input-placeholder {
        font-size: 20px;
        color: #cecece; }
      .div_searchBar input::-moz-placeholder {
        font-size: 20px;
        color: #cecece; }
      .div_searchBar input:-ms-input-placeholder {
        font-size: 20px;
        color: #cecece; }
      .div_searchBar input:-moz-placeholder {
        font-size: 20px;
        color: #cecece; }
    .div_searchBar button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 35px;
      width: 90px;
      height: 90px;
      background: none;
      border: 0; }
      .div_searchBar button img {
        width: 20px;
        display: inline-block;
        vertical-align: top; }
  
  /*--------------- div_mask ---------------*/
  .div_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    z-index: 999;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  
  .div_mask--show {
    display: block;
    opacity: 1; }
  
  .div_maskForSearch {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    z-index: 999;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  
  .div_maskForSearch--show {
    display: block;
    opacity: 1; }